/* serveq */
#contents.serveq section.serveq1  { width:1180px; margin:0 auto 153px; padding-top:100px; }
.serveq .serveq1 .cont { position:relative; padding-left:366px; margin-top:146px; box-sizing:border-box; font-size:22px; color:#231f20; }
.serveq .serveq1 .cont p { position:relative; }
.serveq .serveq1 .cont.intro { min-height:220px; margin-top:95px; }
.serveq .serveq1 .cont.intro .img_intro { position:absolute; left:0; top:0; }
.serveq .serveq1 .cont.intro p { position:relative; line-height:26px; height:280px; }
.serveq .serveq1 .cont.intro p strong { display:block; font-size:24px; font-weight:600; line-height:34px; }
.serveq .serveq1 .cont.intro p span { position:absolute; left:0; bottom:-8px; display:block; margin-top:26px; font-size:20px; line-height:36px; letter-spacing:-0.01em; }
.serveq .serveq1 .cont h3 { position:absolute; left:0; top:0; display:block; font-size:30px; font-weight:600; color:#555; }
.serveq .serveq1 .cont.identity { margin-top:145px; }
.serveq .serveq1 .cont.identity p { top:-5px; font-size:24px; line-height:34px; }
.serveq .serveq1 .cont.identity dl { margin-top:32px; }
.serveq .serveq1 .cont.identity dl.dlf { margin-top:45px; }
.serveq .serveq1 .cont.identity dt { font-size:24px; line-height:28px; font-weight:600; }
.serveq .serveq1 .cont.identity dd { margin-top:17px; font-size:18px; line-height:28px; }
.serveq .serveq1 .cont.identity .img_slogan,
.serveq .serveq1 .cont.identity .img_frame { margin-top:19px; }
.serveq .serveq1 .cont.color p { font-size:18px; line-height:28px; }
.serveq .serveq1 .cont.color ul { display:block; width:100%; height:200px; margin-top:19px; background:url('/pjtCom/images/sub/img_brand_serveq02.jpg') no-repeat 0 0; }
.serveq .serveq1 .cont.color ul li { display:none; }
.serveq .serveq1 .cont.slogan { padding-top:3px; }
.serveq .serveq1 .cont.slogan dl:after { content:""; display:block; clear:both; }
.serveq .serveq1 .cont.slogan dt { float:left; width:314px; font-size:24px; font-weight:600; color:#807e7e; clear:both; }
.serveq .serveq1 .cont.slogan dd { position:relaitve; float:left; width:347px; height:23px; background:url('/pjtCom/images/sub/img_brand_serveq03.jpg') no-repeat 0 0; text-indent:-9999px; }
.serveq .serveq1 .cont.slogan dl:last-child { margin-top:28px; }
.serveq .serveq1 .cont.slogan dl:last-child dd { top:-3px; height:31px; background:url('/pjtCom/images/sub/img_brand_serveq04.jpg') no-repeat 0 0; }
.serveq .serveq1 .cont.motif p { font-size:18px; line-height:28px; }
.serveq .serveq1 .cont.motif ul { display:block; width:100%; height:250px; margin-top:19px; background:url('/pjtCom/images/sub/img_brand_serveq05.jpg') no-repeat 0 0; }
.serveq .serveq1 .cont.motif ul li { display:none; }

/* serveq_2 */
#contents.serveq section.serveq2 { width:1180px; margin:0 auto 153px; padding-top:100px; }
.serveq .serveq2 .cont { position:relative; padding-left:366px; margin-top:93px; box-sizing:border-box; font-size:22px; color:#231f20; }
.serveq .serveq2 .cont p { position:relative; top:-3px; }
.serveq .serveq2 .cont.intro { min-height:220px; }
.serveq .serveq2 .cont.intro .img_intro { position:absolute; left:0; top:0; }
.serveq .serveq2 .cont.intro p {  line-height:26px; }
.serveq .serveq2 .cont.intro p strong { display:block; font-size:22px; font-weight:600; }
.serveq .serveq2 .cont.intro p span { display:block; margin-top:26px; font-size:16px; letter-spacing:-0.02em; }
.serveq .serveq2 .cont h3 { position:absolute; left:0; top:0; display:block; font-size:30px; font-weight:600; color:#555; }
.serveq .serveq2 .cont.identity { margin-top:95px; }
.serveq .serveq2 .cont.identity p { top:-5px; font-size:22px; line-height:32px; }
.serveq .serveq2 .cont.identity dl { margin-top:27px; }
.serveq .serveq2 .cont.identity dl.dlf { margin-top:39px; }
.serveq .serveq2 .cont.identity dt { font-size:16px; line-height:18px; font-weight:600; }
.serveq .serveq2 .cont.identity dd { margin-top:14px; font-size:14px; line-height:24px; }
.serveq .serveq2 .cont.identity .img_slogan,
.serveq .serveq2 .cont.identity .img_frame { margin-top:14px; }
.serveq .serveq2 .cont.color p { font-size:14px; line-height:24px; }
.serveq .serveq2 .cont.color ul { display:block; width:100%; height:212px; margin-top:15px; background:url('/pjtCom/images/sub/brand_color.jpg') no-repeat 0 0; }
.serveq .serveq2 .cont.color ul li { display:none; }
.serveq .serveq2 .cont.slogan { padding-top:3px; }
.serveq .serveq2 .cont.slogan dl:after { content:""; display:block; clear:both; }
.serveq .serveq2 .cont.slogan dt { float:left; width:214px; font-size:16px; font-weight:600; line-height:20px; color:#807e7e; clear:both; }
.serveq .serveq2 .cont.slogan dd { position:relaitve; float:left; width:326px; height:22px; background:url('/pjtCom/images/sub/brand_sloganTxt01.jpg') no-repeat 0 0; text-indent:-9999px; }
.serveq .serveq2 .cont.slogan dl:last-child { margin-top:23px; }
.serveq .serveq2 .cont.slogan dl:last-child dd { top:-3px; height:29px; background:url('/pjtCom/images/sub/brand_sloganTxt02.jpg') no-repeat 0 0; }
.serveq .serveq2 .cont.motif p { font-size:14px; line-height:24px; }
.serveq .serveq2 .cont.motif ul { display:block; width:100%; height:250px; margin-top:15px; background:url('/pjtCom/images/sub/brand_motif.jpg') no-repeat 0 0; }
.serveq .serveq2 .cont.motif ul li { display:none; }

/* business common */
#contents.business > section { width:1180px; padding-top:103px; margin:0 auto; }
#contents.business > section >.txt { margin-top:13px; font-size:14px; line-height:24px; }

/* business_circulation */
.business .circulation .cont h3 { font-size:30px; text-align:center; }
.business .circulation .cont p { margin-top:13px; font-size:14px; line-height:24px; text-align:center; }
.business .circulation .cont.circu { display:block; width:712px; height:534px; margin:60px auto 0; padding:0; background:url('/pjtCom/images/sub/circulation_circu.jpg') no-repeat 0 0; }
.business .circulation .cont.circu ul { display:none; }
.business .circulation .cont.food { margin-top:170px; }
.business .circulation .cont.food > div { width:656px; height:440px; margin:34px auto 0; background:url('/pjtCom/images/sub/circulation_food.jpg') no-repeat 0 0; }
.business .circulation .cont.food ul { display:none; }
.business .circulation .cont.sourcing { margin-top:180px; }
.business .circulation .cont.sourcing h3,
.business .circulation .cont.sourcing p { position:relative; }
.business .circulation .cont.sourcing h3 span { font-weight:400; }
.business .circulation .cont.sourcing .img_box { margin-top:-90px; }
.business .circulation .cont.sourcing ul { margin-top:46px; }
.business .circulation .cont.sourcing ul:after { content:""; display:block; clear:both; }
.business .circulation .cont.sourcing ul li { float:left; width:228px; height:318px; margin-left:10px; }
.business .circulation .cont.sourcing ul li:nth-child(5n-4) { margin-left:0; }
.business .circulation .cont.sourcing ul li strong { display:block; margin-top:21px; font-size:22px; line-height:18px; text-align:center; }
.business .circulation .cont.sourcing ul li strong span { font-size:14px; }
.business .circulation .cont.sourcing ul li > span { display:block; margin-top:11px; text-align:center; line-height:26px; letter-spacing:-0.04em; }
.business .circulation .cont.solution { margin-top:78px; }
.business .circulation .cont.solution ul { margin-top:38px; }
.business .circulation .cont.solution ul:after { content:""; display:block; clear:both; }
.business .circulation .cont.solution ul li { float:left; width:388px; height:382px; margin-left:8px; }
.business .circulation .cont.solution ul li:first-child { margin-left:0; }
.business .circulation .cont.solution ul li strong { display:block; margin-top:32px; font-size:22px; line-height:18px; text-align:center; }
.business .circulation .cont.solution ul li strong span { font-size:14px; }
.business .circulation .cont.solution ul li > span { display:block; margin-top:13px; text-align:center; line-height:26px; letter-spacing:-0.04em; }
.business .circulation .cont.customer { margin-top:100px;  }
.business .circulation .cont.customer span,
.business .circulation .cont.customer ul { display:none; }
.business .circulation .cont.customer h3,
.business .circulation .cont.customer p { margin-top:23px; margin-left:-10px; }
.business .circulation .cont.customer { position:relative; left:10px; height:344px; background:url('/pjtCom/images/sub/circulation_customer.jpg') no-repeat 0 bottom; }
.business .circulation .cont.hygiene { margin-top:120px; }
.business .circulation .cont.hygiene ul { margin:40px 0 100px; }
.business .circulation .cont.hygiene ul:after { content:""; display:block; clear:both; }
.business .circulation .cont.hygiene ul li { float:left; width:288px; height:438px; margin-left:8px; }
.business .circulation .cont.hygiene ul li:first-child { margin-left:0; }
.business .circulation .cont.hygiene ul li strong { position:relative; display:block; margin-top:49px; font-size:22px; line-height:18px; text-align:center; }
.business .circulation .cont.hygiene ul li strong:before { content:""; position:absolute; left:50%; top:-19px; transform:translate(-50%,0); display:block; width:25px; height:3px; background:#ee3124; }
.business .circulation .cont.hygiene ul li strong span { font-size:14px; }
.business .circulation .cont.hygiene ul li > span { display:block; margin-top:16px; text-align:center; line-height:26px; letter-spacing:-0.04em; }

/* business_bakery */
.business .bakery .txt { font-size:14px; line-height:24px; color:#231f20; }
.business .bakery .tit,
.business .bakery .txt { position:relative; }
.business .bakery .cont1 p,
.business .bakery .cont1 ul { display:none; }
.business .bakery .cont1 { margin-top:-67px; }
.business .bakery .cont2 { margin-top:54px; padding-bottom:107px; }
.business .bakery .cont2 h3 { font-size:30px; text-align:center; }
.business .bakery .cont2 p { margin-top:12px; font-size:14px; line-height:24px; text-align:center; }
.business .bakery .cont2 > ul { width:654px; height:55px; margin:54px auto 0; background:url('/pjtCom/images/sub/bakery_img02.jpg') no-repeat 0 0; }
.business .bakery .cont2 > ul > li {display:none;}
.business .bakery .cont2 .solution { margin-top:60px; }
.business .bakery .cont2 .solution .aryzta { text-align:center; }
.business .bakery .cont2 .solution .aryzta span { display:block; height:60px; text-align:center; font-size:22px; font-weight:600; line-height:60px; }
.business .bakery .cont2 .solution ul { position:relative; }
.business .bakery .cont2 .solution ul:before { content:''; display:block; margin:0 auto 20px; width:836px; height:74px; background:url('/pjtCom/images/sub/bakery_img04.jpg') no-repeat 0 0; }
.business .bakery .cont2 .solution ul:after { content:''; display:block; clear:both; }
.business .bakery .cont2 .solution ul li { float:left; width:388px; height:320px; margin-left:8px; }
.business .bakery .cont2 .solution ul li:first-child { margin-left:0; }
.business .bakery .cont2 .solution ul li strong { display:block; margin-top:26px; font-size:22px; line-height:24px; text-align:center; }
.business .bakery .cont2 .solution ul li span { display:block; font-size:14px; line-height:24px; text-align:center; }
.business .bakery .cont2 .solution ul li p { margin-top:10px; font-size:16px; line-height:24px; color:#555; }

/* business_material */
#contents.business > section.material { margin-bottom:120px; }
.business .material .cont { position:relative; padding-left:364px; box-sizing:border-box; }
.business .material .cont h3 { position:absolute; left:0; top:0; font-size:30px; }
.business .material .cont p { position:relative; top:-5px; font-size:14px; line-height:24px; letter-spacing:-0.025em; }
.business .material .cont > div { margin-top:7px; }
.business .material .cont.sugar { margin-top:98px; }
.business .material .cont.milling { margin-top:75px; }
.business .material .cont.oil { margin-top:75px; }
.business .material .cont.starch { margin-top:115px; }
.business .material .cont.brand { margin-top:100px; }
.business .material .cont.brand strong { font-size:22px; color:#231f20; }

/* business_consum */
#contents.business > section.consumption { margin-bottom:80px; }
#contents.business > section.consumption .txt { margin-top:10px; }
.business .consumption .cont ul { margin-top:40px; }
.business .consumption .cont ul li { margin-top:40px; }
.business .consumption .cont ul li:first-child { margin-top:0; }
.business .consumption .cont ul li > div { float:left; }
.business .consumption .cont ul li > div:nth-child(2) { margin-left:60px; }
.business .consumption .cont ul li .img_box { width:400px; height:300px; margin-left:120px; }
.business .consumption .cont ul li:after { content:''; display:block; clear:both; }
.business .consumption .cont ul li h3 { font-size:30px; font-weight:600; padding-top:15px; }
.business .consumption .cont ul li dl { margin-top:38px; }
.business .consumption .cont ul li dl:after { content:''; display:block; width:500px; height:1px; margin-top:25px; background:#e4e4e4; }
.business .consumption .cont ul li dl dt { font-size:22px; font-weight:600; }
.business .consumption .cont ul li dl dd { margin-top:23px; font-size:16px; line-height:26px; }
.business .consumption .cont ul li a { position:relative; display:inline-block;margin-top:17px; font-size:14px; line-height:60px; letter-spacing:-0.02em; padding-right:17px; color:#231f20; }
.business .consumption .cont ul li a:after { content:""; position:absolute; right:0; top:50%; transform:translate(0,-50%); display:block; width:7px; height:11px; background:url('/pjtCom/images/common/form_icon.png') no-repeat -42px -105px; }
.business .consumption .cont ul li a i { display:inline-block; width:95px; height:60px; margin-right:40px; text-indent:-9999px; background:url('/pjtCom/images/sub/consum01_logo.jpg') no-repeat 0 0;}
.business .consumption .cont ul li:nth-child(2) a i { width:178px; background:url('/pjtCom/images/sub/consum02_logo.jpg') no-repeat 0 0; }
.business .consumption .cont ul li:nth-child(3) a i { width:44px; background:url('/pjtCom/images/sub/consum03_logo.jpg') no-repeat 0 0; }
.business .consumption .cont ul li:nth-child(4) a i { width:109px; background:url('/pjtCom/images/sub/consum04_logo.jpg') no-repeat 0 0; }
.business .consumption .cont ul li:nth-child(5) a i { width:160px; background:url('/pjtCom/images/sub/consum05_logo.jpg') no-repeat 0 0; }
.business .consumption .cont ul li:nth-child(6) a i { width:139px; background:url('/pjtCom/images/sub/consum06_logo.jpg') no-repeat 0 0; }

/* business_office */
#contents.business > section.office { margin-bottom:120px; }
.business .office .btnbox { width:540px; height:50px; margin:54px auto 0; border-radius:50px; border:1px solid #949494; }
.business .office .btnbox:after { content:""; display:block; clear:both; }
.business .office .btnbox .btn_tab { float:left; display:block; width:180px; height:50px; line-height:50px; font-size:16px; color:#949494; box-sizing:border-box; border-radius:50px; }
.business .office .btnbox .btn_tab.on { background:#ce462d; border:none; color:#fff; }

.business .office .cont { margin-top:40px; }
.business .office .cont:after { content:""; display:block; clear:both; }
.business .office .info { float:left; width:360px; height:400px; }
.business .office .info:after { content:""; display:block; clear:both; }
.business .office .map { float:left; width:790px; height:400px; margin-left:30px; overflow:hidden; }
.business .office .map [id^="daumRoughmapContainer"] { margin-left:-30px; }
.business .office .map_wrap { margin-top:40px; }
.business .office .map_wrap:after { content:""; display:block; clear:both; }
.business .office .tabbox.op0 .sales,
.business .office .tabbox.op0 .factory,
.business .office .tabbox.op1 .sales,
.business .office .tabbox.op1 .company,
.business .office .tabbox.op2 .company,
.business .office .tabbox.op2 .factory { position:relative; z-index:-1; height:0; overflow:hidden; opacity:0; margin-top:0; }
.business .office .company .map_wrap:first-child,
.business .office .factory .map_wrap:first-child { margin-top:0; }
.business .office .company h3,
.business .office .factory h3 { margin-top:32px; font-size:22px; font-weight:600; }
.business .office .company dl,
.business .office .factory dl { float:left; width:50%; margin-top:12px; }
.business .office .company dl.w100,
.business .office .factory dl.w100 { width:100%; margin-top:20px; }
.business .office .company dl:after,
.business .office .factory dl:after { content:""; display:block; clear:both; }
.business .office .company dt,
.business .office .company dd
.business .office .factory dt,
.business .office .factory dd { width:100%; font-size:14px; line-height:24px; }
.business .office .company dt,
.business .office .factory dt { font-weight:600; }
.business .office .sales:after { content:''; display:block; clear:both; }
.business .office .sales .img_box,
.business .office .sales .tbl_box { float:left; width:590px; }
.business .office table { width:590px; border:none; line-height:48px; }
.business .office table thead { border-top:1px solid #ece9e6; }
.business .office table thead th { background:#f5f4f2; font-size:16px; font-weight:400; }
.business .office table tbody th { font-weight:400; }
.business .office table tbody td { padding:9px 40px; line-height:24px; }
.business .office table tbody tr:nth-child(2n) td { font-size:16px; }
.business .office table tbody tr { border:1px solid #ece9e6; border-width:1px 0; }
