/* 매거진 리스트 */
.magazine .month_area { background:#f6f6f6; }
.magazine .month_area .result_list { margin-top:34px; }
.magazine .name .month_area .result_list .img { width:208px; height:208px; }
.magazine .result_area { background:#fff; }
.magazine .result_list .img img { width:100%; }
.magazine .btn_more { display:block; width:209px; height:60px; font-size:18px; color:#fff; margin-left:auto; margin-right:auto; background:#545454; }
