/**
* --------------------------------
* 홍보센터 CSS
* --------------------------------
*/

/* pr 상세페이지 common */
.pr .view_area { padding:83px 0 130px; }
.pr .view_area .btn_list { display:block; width:113px; height:39px; color:#fff; margin:48px auto 0; background:#555; }
.pr .info_area { position:relative; padding:0 40px; }
.pr .info_area .tit { height:54px; font-weight:normal; font-size:30px; line-height:53px; color:#000; padding-left:35px; border-bottom:1px solid #a6a6a6; box-sizing:border-box; }
.pr .info_area dl { height:80px; font-size:16px; line-height:60px; color:#555;}
.pr .info_area dt { float:left; position:relative; width:128px; padding-left:35px; box-sizing:border-box; }
.pr .info_area dd { float:left; padding-left:16px; box-sizing:border-box; }
.pr .edit_area { position:relative; padding:24px 35px; margin:0 40px; }

/* press */
.pr .press .search_result { position:relative; width:1180px; height:66px; margin:0 auto; text-align:center; }
.pr .press .search_result .result_txt { display:none; margin-top:48px; font-size:20px; }
.pr .press .search_result .result_txt2 { display:none; position:absolute; left:0; bottom:15px; font-size:16px; }
.pr .press .search_result.data { height:122px; }
.pr .press .search_result.data .result_txt,
.pr .press .search_result.data .result_txt2 { display:inline-block; }
.pr .press .search_result.nodata { height:auto; padding-bottom:90px; }
.pr .press .search_result.nodata .result_txt { display:inline-block; margin-top:15px; }
.pr .press .search_result.nodata .result_txt3 { display:block; margin-top:22px; font-size:22px; font-weight:600; }
.pr .press .search_result.nodata .result_txt3:before { content:""; position:relative; left:50%; margin-left:-57px; margin-bottom:15px; display:block; width:115px; height:115px; background:url('/pjtCom/images/common/no_data.png') no-repeat 0 0; }
.pr .press .search_result.nodata .result_txt4 { display:block; width:280px; margin:50px auto 0; font-size:16px; line-height:24px; text-align:left;}
.pr .press .search_result.nodata .result_txt5 { display:block; width:280px; margin:0 auto; font-size:16px; line-height:24px; text-align:left; }
.pr .press .list_box { width:1180px; margin:0 auto; }
.pr .press .list_box:after { content:""; display:block; clear:both; }
.pr .press .list_box li { position:relative; float:left; width:580px; height:212px; margin-top:20px; border:1px solid #e7e7e7; box-sizing:border-box; }
.pr .press .list_box li a { display:block; width:100%; height:100%; }
.pr .press .list_box li:nth-child(2n) { margin-left:20px; }
.pr .press .list_box li:nth-child(1),
.pr .press .list_box li:nth-child(2) { margin-top:0; }
.pr .press .list_box li .img_box { position:absolute;; top:50%; left:50px; transform:translate(0,-50%); width:162px; height:162px; box-sizing:border-box; border-radius:162px; overflow:hidden; }
.pr .press .list_box li .txt_box { position:relative; float:right; width:288px; margin:44px 50px 0 0; padding-bottom:35px; }
.pr .press .list_box li .txt_box span { display:block; font-size:16px; color:#807e7e; letter-spacing:0.1em;}
.pr .press .list_box li .txt_box strong { display:inline-block; width:288px; margin-top:14px; font-size:20px;line-height:1.3em; height:2.6em; max-height:2.6em; font-weight:400; letter-spacing:-0.04em; color:#231f20; overflow:hidden; word-break:break-all; }
.pr .press .list_box li .txt_box:after { content:""; position:absolute; right:0; bottom:0; display:block; width:60px; height:8px; background:url('/pjtCom/images/sub/list_arrow.gif') no-repeat 0 0; }
.pr .press .paging { margin-top:126px; }

/* notice_list */
.pr .notice .tbl_list { font-size:16px; line-height:24px; text-align:center; }
.pr .notice .tbl_list tbody td:nth-child(2) { text-align:left; }
.pr .notice .tbl_list tbody td .list_tit { display:inline-block; width:auto; font-size:16px; line-height:56px; padding:0 24px; max-height:56px; text-align:left; background:none; }
.pr .notice .tbl_list tbody td .list_tit.new { padding-right:78px; }
.pr .notice .tbl_list tbody td .new:after { content:''; position:absolute; right:0; top:50%; transform:translate(0,-50%); display:block; width:53px; height:22px; background:url('/pjtCom/images/common/icon_notice.png') no-repeat 0 -30px; }
.pr .notice .tbl_list tbody .fix_news td { background:#f7f7f7; }
.pr .notice .tbl_list tbody .fix_news td:first-child { padding:0 20px 0 100px; text-align:left; }
.pr .notice .tbl_list tbody .fix_news td:first-child a { padding-left:70px; }
.pr .notice .tbl_list tbody .fix_news td:first-child a:before { content:""; position:absolute; left:24px; top:50%; margin-top:-10px; display:inline-block; width:24px; height:20px; background:url('/pjtCom/images/common/icon_notice.png') no-repeat 0 0; }
.pr .notice .tbl_list tbody .fix_news td:nth-child(2) { text-align:center; }

/* event_list_ing, event_list_end */
.pr .event .ing [class*="bbs_gallery_list"] .inner,
.pr .event .end [class*="bbs_gallery_list"] .inner { padding-top:0; }
.pr .event .tab_menu { width:100%; margin-bottom:59px; }
.pr .event .tab_menu:after { content:""; display:block; clear:both; }
.pr .event .tab_menu a { float:left; display:block; width:50%; line-height:32px; font-size:24px; padding:14px 0 11px; border-bottom:1px solid #e4e4e4; text-align:center; box-sizing:border-box; color:#555; }
.pr .event .tab_menu a.on { border-bottom:3px solid #231f20; font-weight:600; color:#231f20; padding-bottom:8px; }
.pr .event .event_list:after { content:""; display:block; clear:both; }
.pr .event .event_list li { float:left; width:380px; height:396px; margin-top:20px; margin-left:20px; border-bottom:1px solid #e4e4e4; }
.pr .event .event_list li:nth-child(1),
.pr .event .event_list li:nth-child(2),
.pr .event .event_list li:nth-child(3) { margin-top:0; }
.pr .event .event_list li:nth-child(3n-2) { margin-left:0; }
.pr .event .event_list li a { position:relative; display:inline-block; width:100%; height:100%; }
.pr .event .event_list li a:after { content:""; position:absolute; right:31px; bottom:34px; width:60px; height:8px; background:url('/pjtCom/images/sub/list_arrow.gif') no-repeat 0 0; }
.pr .event .event_list li .img_box { width:380px; height:186px; overflow:hidden; }
.pr .event .event_list li dl { width:320px; margin:30px auto 0; }
.pr .event .event_list li dl dt { font-size:20px; line-height:28px; height:56px; max-height:56px; }
.pr .event .event_list li dl dd:nth-child(2) { margin-top:15px; }
.pr .event .event_list li dl dd { font-size:14px; line-height:22px; color:#807e7e; }

/* event_view_ing */
.pr .event .ing .reply_wrap { margin-top:125px; border-top:1px solid #a6a6a6; }
.pr .event .ing .reply { padding:45px 30px 0; margin:0 40px; }

.pr .event .ing .reply_count { font-size:16px; line-height:18px;}
.pr .event .ing .reply_attention { display:block; width:884px; font-size:12px; line-height:18px; margin-top:-18px; text-align:right; }
.pr .event .ing .reply_input { position:relative; margin-top:14px; }
.pr .event .ing .reply_input .reply_box { position:relative; width:884px; height:96px; border:1px solid #888686; box-sizing:border-box; }
.pr .event .ing .reply_input .reply_box textarea { position:relative; top:14px; left:14px; width:868px; line-height:26px; max-height:52px; border:none; box-sizing:border-box; outline:none; }
.pr .event .ing .reply_input .reply_box .re_counter { display:block; position:absolute; bottom:13px; right:14px; top:68px; z-index:1; font-size:14px; color:#aaa; }
.pr .event .ing .reply_input .reply_box .re_counter b { color:#231f20; }
.pr .event .ing .reply_input .btn_ok { position:absolute; right:0; top:0; display:inline-block; width:142px; height:95px; background:#ce462e; font-size:16px; color:#fff; }
.pr .event .ing .reply_input .btn_updateCancel { position:absolute; right:0; top:-49px; display:inline-block; width:142px; height:39px; background:#555555; color:#fff; text-align:center; font-size:16px; }

.pr .event .ing .reply_list { width:1040px; margin:35px auto 0; }
.pr .event .ing .reply_list li { position:relative; border-bottom:1px solid #e4e4e4; margin-top:22px; padding-bottom:17px; }
.pr .event .ing .reply_list li dl:after { content:""; display:block; clear:both; }
.pr .event .ing .reply_list li dl dt { float:left; font-size:16px; letter-spacing:0em; line-height:20px; color:#231f20; }
.pr .event .ing .reply_list li dl dd { float:left; margin-left:12px; padding-left:20px; font-size:12px; line-height:20px; letter-spacing:0.1em; border-left:1px solid #bcbcbc; }
.pr .event .ing .reply_list li .btn_box { position:absolute; right:0; top:16px; height:39px; }
.pr .event .ing .reply_list li .btn_box .btn_update { width:67px; height:39px; background:#555; color:#fff; }
.pr .event .ing .reply_list li .btn_box .btn_delete { width:67px; height:39px; border:1px solid #555; color:#555; box-sizing:border-box; }
.pr .event .ing .reply_list li p { width:884px; margin-top:18px; font-size:16px; line-height:24px; }
.pr .event .ing .reply_list .nodata_box { margin-top:50px; }
.pr .event .ing .reply_list .nodata_box b { display:block; width:100%; text-align:center; }
.pr .event .ing .reply_list .nodata_box b:before { content:''; display:block; width:115px; height:115px; margin:0 auto 15px; background:url('/pjtCom/images/common/no_data.png') no-repeat 0 0; }
.pr .event .ing .reply_list .nodata_box span { display:block; width:190px; margin:20px auto 0; font-size:16px; }

.pr .event .ing .reply_list li.reply_update .reply_input { margin-top:20px; }
.pr .event .ing .reply_list li.reply_update dl { padding-top:10px; }
