/**
* --------------------------------
* 마이페이지 CSS
* --------------------------------
*/

/* mypage common */
.mypage{ background:#f6f6f6; }
.sub_tit { font-size:30px; font-weight:600; color:#231f20; text-align:center; }
.sub_txt { margin-top:10px; text-align:center; }
.mypage .btnbox .btn_org { background:#ce462d; }

/* select */
.mypage #select2-menu .ui-menu-item-wrapper { padding:0 10px; }
.mypage .searchid #select2-button,
.mypage .searchpw #select2-button { width:70px; }
.mypage .searchid [id^="select"][id$="-button"] .ui-selectmenu-text,
.mypage .searchpw [id^="select"][id$="-button"] .ui-selectmenu-text { padding-left:10px; }
.mypage [id^="select2"][id$="-button"] .ui-selectmenu-text { padding-left:5px; }
.mypage [id^="select2"][id$="-button"] .ui-selectmenu-icon { right:7px; }
.mypage .type3 [id^="select"][id$="-button"] .ui-selectmenu-icon { width:9px; height:6px; background-position:-24px -105px; }
.mypage .type3 [id^="select"][id$="-button"] { border:1px solid rgba(255,255,255,0); border-bottom:1px solid #e4e4e4; }
.mypage .type3 .ui-widget.ui-selectmenu-button-open { border-bottom:2px solid #231f20; outline:none; }
.mypage .joinform #select3-button { width:170px; }
.mypage .joinform #select4-button { width:170px; }

/* login,search_id,searchid_result,searchpw,password 원페이지 중앙정렬 */
.mypage { position:relative; overflow:hidden; }
.mypage #contents.login { min-height:648px; }
.mypage #contents.login section { position:absolute; left:50%; top:44.8%; transform:translate(-50%,-50%); }
.mypage #contents.searchid { min-height:500px; }
.mypage #contents.searchid section { position:absolute; left:50%; top:43.5%; transform:translate(-50%,-50%); }
.mypage #contents.searchid_result { min-height:511px; }
.mypage #contents.searchid_result section { position:absolute; left:50%; top:43.8%; transform:translate(-50%,-50%); }
.mypage #contents.searchpw { min-height:677px; }
.mypage #contents.searchpw section { position:absolute; left:50%; top:44.8%; transform:translate(-50%,-50%); }
.mypage #contents.password { min-height:590px; }
.mypage #contents.password section { position:absolute; left:50%; top:44.3%; transform:translate(-50%,-50%); }

/* login */
.mypage #contents.login section { width:618px; padding:77px 0 95px; margin:0 auto 20px; background:#fff; }
.mypage .login .section_inner { width:345px; margin:0 auto; }
.mypage .login .section_inner h3 { font-size:48px; font-weight:600; color:#231f20; }
.mypage .login .section_inner > p { margin:12px 0 46px; color:#807e7f; }
.mypage .login .log_pw { display:block;margin-top:18px; }
.mypage .login .log_id input,
.mypage .login .log_pw input { width:100%; }
.mypage .login .log_id:before,
.mypage .login .log_pw:before { width:18px; height:20px; }
.mypage .login .log_pw:before { background-position:-28px 0; }
.mypage .login .logbox { margin-top:25px; text-align:right; font-size:0; }
.mypage .login .logbox a { display:inline-block; vertical-align:middle; font-size:16px; letter-spacing:-0.04em; }
.mypage .login .logbox span { display:inline-block; vertical-align:middle; font-size:16px; letter-spacing:-0.04em; }
.mypage .login .logbox label { margin-left:0; }
.mypage .login .logbox .select { width:69px; }
.mypage .login .logbox .bar { width:1px; height:16px; margin:0 12px; background:#e4e4e4; }
.mypage .login .btnbox { margin-top:38px; }
.mypage .login .btnbox .btn_org { display:block; }
.mypage .login .btnbox .btn_naver { display:block; margin-top:18px; color:#231f20; border:1px solid #ebebeb; }
.mypage .login .btnbox .btn_org:before,
.mypage .login .btnbox .btn_naver:before { content:""; position:absolute; left:21px; top:50%; transform:translate(0, -50%); display:inline-block; width:32px; height:32px; background:url('/pjtCom/images/common/btn.png') no-repeat 0 0; }
.mypage .login .btnbox .btn_naver:before { background-position:-42px 0; }
.mypage .login .txt { display:block; margin-top:25px; text-align:center; }
.mypage .login .error_txt { display:none; margin-top:8px; padding-left:51px; font-size:13px; color:#ce462d; box-sizing:border-box; }
.mypage .login .error1 .log_id input:focus,
.mypage .login .error2 .log_pw input:focus,
.mypage .login .error3 .log_pw input:focus { border-bottom:2px solid #ce462d; }
.mypage .login .error1 .error_id,
.mypage .login .error2 .error_pw,
.mypage .login .error3 .error_idpw {display:block;}

/* search_id */
.mypage #contents.searchid section { width:662px; padding:77px 0 95px; margin:0 auto; background:#fff; }
.mypage .searchid .section_inner { width:390px; margin:0 auto; }
.mypage .searchid .section_inner h3 { font-size:48px; font-weight:600; color:#231f20; }
.mypage .searchid .section_inner > p { margin:12px 0 46px; color:#807e7f; }
.mypage .searchid .section_inner .log_name { position:relative; }
.mypage .searchid .section_inner .log_name:before { width:20px; height:26px; background-position:-84px 0; }
.mypage .searchid .section_inner .log_name input { width:100%; }
.mypage .searchid .section_inner .telbox { margin-top:18px; }
.mypage .searchid .section_inner .telbox:after { content:""; display:block; clear:both; }
.mypage .searchid .section_inner .telbox .tel { position:relative; float:left; width:124px; padding:8px 0 8px 50px; line-height:32px; box-sizing:border-box; }
.mypage .searchid .section_inner .telbox .tel:before { content:""; position:absolute; left:15px; top:50%; transform:translate(0, -50%); display:block; width:18px; height:18px; background:url('/pjtCom/images/common/form_icon.png') no-repeat -56px 0; }
.mypage .searchid .section_inner .telbox .bar { position:relative; float:left; display:block; width:28px; height:48px; box-sizing:border-box; }
.mypage .searchid .section_inner .telbox .bar:before { content:""; position:absolute; left:50%; top:50%; transform:translate(-50%, 0); display:block; width:8px; height:1px; background:#949494;}
.mypage .searchid .section_inner .telbox label { float:left; width:70px; }
.mypage .searchid .section_inner .telbox label input { width:100%; text-align:center; }
.mypage .searchid .section_inner .btnbox { margin-top:44px; }
.mypage .searchid .section_inner .btnbox .btn_org { width:100%; }

/* search_idresult */
.mypage #contents.searchid_result section { width:662px; padding:77px 0 95px; margin:0 auto; background:#fff; }
.mypage .searchid_result .section_inner { width:390px; margin:0 auto; }
.mypage .searchid_result .section_inner h3 { font-size:48px; font-weight:600; color:#231f20; }
.mypage .searchid_result .section_inner > p { margin:12px 0 46px; color:#807e7f; }
.mypage .searchid_result .section_inner .id_result { padding:37px 10px; border:1px solid #dadada; box-sizing:border-box; text-align:center; font-size:16px; }
.mypage .searchid_result .section_inner .id_result span { display:block; margin-bottom:30px; color:#231f20; }
.mypage .searchid_result .section_inner .id_result b { font-weight:600; color:#231f20; }
.mypage .searchid_result .section_inner .btnbox { margin-top:31px; }
.mypage .searchid_result .section_inner .btnbox:after { content:""; display:block; clear:both; }
.mypage .searchid_result .section_inner .btnbox .btn_org { float:left; width:190px; }
.mypage .searchid_result .section_inner .btnbox .btn_line { float:right; width:190px; border:1px solid #231f20; color:#231f20; }

/* search_pw */
.mypage #contents.searchpw section { width:662px; padding:77px 0 95px; margin:0 auto; background:#fff; }
.mypage .searchpw .section_inner { width:390px; margin:0 auto; }
.mypage .searchpw .section_inner h3 { font-size:48px; font-weight:600; color:#231f20; }
.mypage .searchpw .section_inner > p { margin:12px 0 46px; color:#807e7f; }
.mypage .searchpw .section_inner .log_name:before { width:20px; height:26px; background-position:-84px 0; }
.mypage .searchpw .section_inner .log_name input { width:100%; }
.mypage .searchpw .section_inner .log_id { display:block; margin-top:18px; }
.mypage .searchpw .section_inner .log_id input { width:100%; }
.mypage .searchpw .section_inner .log_id:before { width:18px; height:20px; }
.mypage .searchpw .section_inner .telbox { margin-top:18px; }
.mypage .searchpw .section_inner .telbox div:after { content:''; display:block; clear:both; }
.mypage .searchpw .section_inner .telbox .tel { position:relative; display:block; width:100%; padding-left:50px; margin-bottom:2px; line-height:48px; box-sizing:border-box; }
.mypage .searchpw .section_inner .telbox .tel:before { content:""; position:absolute; left:24px; top:50%; transform:translate(-50%, -50%); display:block; width:18px; height:18px; background:url('/pjtCom/images/common/form_icon.png') no-repeat -56px 0; }
.mypage .searchpw .section_inner .telbox .bar { position:relative; float:left; display:block; width:28px; height:48px; box-sizing:border-box;}
.mypage .searchpw .section_inner .telbox .bar:before { content:""; position:absolute; left:50%; top:50%; transform:translate(-50%, 0); display:block; width:8px; height:1px; background:#949494; }
.mypage .searchpw .section_inner .telbox label { float:left; width:69px; }
.mypage .searchpw .section_inner .telbox label input { padding-left:5px; padding-right:5px; text-align:center; }
.mypage .searchpw .section_inner .telbox .select { margin-left:51px; }
.mypage .searchpw .section_inner .telbox .btn_blk { float:right; width:50px; background:#555; }
.mypage .searchpw .section_inner .telbox .confirm_time { margin-top:13px; }
.mypage .searchpw .section_inner .telbox .confirm_time input { width:263px; margin-left:51px; padding-left:10px; padding-right:5px; text-align:left; }
.mypage .searchpw .section_inner .telbox .confirm_time input::placeholder { font-size:13px; letter-spacing:-0.04em; color:#949494; }
.mypage .searchpw .section_inner .btnbox { margin-top:44px; }
.mypage .searchpw .section_inner .btnbox .btn_org { width:100%; }

/* password */
.mypage #contents.password section { width:662px; padding:77px 0 95px; margin:0 auto; background:#fff; }
.mypage .password .section_inner { width:390px; margin:0 auto; }
.mypage .password .section_inner h3 { font-size:48px; font-weight:600; color:#231f20; }
.mypage .password .section_inner > p { margin:12px 0 40px; color:#807e7f; }
.mypage .password .section_inner small { font-size:16px; }
.mypage .password .section_inner .log_id { display:block; margin-top:14px; }
.mypage .password .section_inner .log_id input { width:100%; }
.mypage .password .section_inner .log_id:before { width:18px; height:20px; }
.mypage .password .section_inner .update_pw { display:block; margin-top:18px; }
.mypage .password .section_inner .btnbox { margin-top:44px; }
.mypage .password .section_inner .btnbox .btn_org { width:100%; }

/* joinuser */
.mypage #contents.joinuser { background:#fff; }
.mypage #contents.joinuser > section { padding-top:106px; padding-bottom:0; margin-bottom:145px; }
.mypage .joinuser .cont { width:345px; margin:53px auto 0; }
.mypage .joinuser .cont .join_img { padding-top:73px; border-top:2px solid #989697; }
.mypage .joinuser .cont .btnbox { margin-top:73px; }
.mypage .joinuser .cont .btnbox .btn_org { display:block; }
.mypage .joinuser .cont .btnbox .btn_naver { display:block; margin-top:18px; color:#231f20; border:1px solid #ebebeb; }
.mypage .joinuser .cont .btnbox .btn_org:before,
.mypage .joinuser .cont .btnbox .btn_naver:before { content:""; position:absolute; left:21px; top:50%; transform:translate(0, -50%); display:inline-block; width:32px; height:32px; background:url('/pjtCom/images/common/btn.png') no-repeat 0 0; }
.mypage .joinuser .cont .btnbox .btn_naver:before { background-position:-42px 0; }
.mypage .joinuser .cont .joinuser_txt { display:block; text-align:center; margin-top:40px; }

/* agree,joinform,joinfinish common */
.mypage .step { display:block; margin-top:50px; text-align:center; }
.mypage .step:after { content:""; display:block; clear:both; }
.mypage .step li { position:relative; display:inline-block; width:270px; padding-top:109px; color:#807e7e; }
.mypage .step li:before { content:""; position:absolute; left:50%; top:0; margin-left:-45px; display:block; width:91px; height:91px; background:url('/pjtCom/images/sub/agree.png') no-repeat 0 0; }
.mypage .step li:nth-child(2):before { background-position:-101px 0; }
.mypage .step li:nth-child(3):before { background-position:-202px 0; }
.mypage .step li:after { content:""; position:absolute; top:29px; right:-10px; display:block; width:20px; height:34px; background:url('/pjtCom/images/common/form_icon.png') no-repeat 0 -66px; }
.mypage .step li:nth-child(3):after { display:none; }
.mypage .step li.on { color:#ce462d; }
.mypage .step li.on:nth-child(1):before { background-position:0 -101px; }
.mypage .step li.on:nth-child(2):before { background-position:-101px -101px; }
.mypage .step li.on:nth-child(3):before { background-position:-202px -101px; }
.mypage .step li.on:after { background-position:-30px -66px; }

/* agree */
.mypage #contents.agree { background:#fff; }
.mypage #contents.agree > section { width:1180px; margin:0 auto; padding:106px 10px 94px; }
.mypage #contents.agree > section .sub_tit { font-size:40px; font-weight:600; color:#231f20; }
.mypage .agree .agree_terms { position:relative; overflow:auto; margin:15px auto 0; display:block; width:1060px; height:233px; border:1px solid #e4e4e4; box-sizing:border-box; background:#fff; }
.mypage .agree .agree_terms .term_inner { padding:40px 40px 40px 26px; font-size:16px; line-height:24px; }
.mypage .agree .agree_terms .term_inner .agree_tbl { border:1px solid #bfbfbf; }
.mypage .agree .agree_terms .term_inner .agree_tbl tr { border-top:1px solid #bfbfbf; }
.mypage .agree .agree_terms .term_inner .agree_tbl tr:first-child { border-top:none; }
.mypage .agree .agree_terms .term_inner .agree_tbl td { border-left:1px solid #bfbfbf; text-align:center; line-height:24px; padding:5px 0; }
.mypage .agree .agree_terms .term_inner .agree_tbl td:first-child { border-left:none; }
.mypage .agree .agree_cont { margin-top:60px; }
.mypage .agree .agree_tit { margin-top:24px; padding-left:50px; font-size:16px; }
.mypage .agree .agree_tit.mgt0 { margin-top:0; }
.mypage .agree .agree_chk { display:block; margin-top:15px; margin-right:80px; text-align:right; }
.mypage .agree .agree_chk.mgt21 { margin-top:-21px; }
.mypage .agree .btnbox { margin-top:67px; text-align:center; }
.mypage .agree .btnbox .btn_org { width:190px; }
.mypage .agree .btnbox .btn_wht { width:190px; margin-left:8px; border:1px solid #322e2f; color:#322e2f; }

/* joinform */
.mypage #contents.joinform { background:#fff; }
.mypage #contents.joinform > section { width:1180px; margin:0 auto; padding:106px 10px 94px; }
.mypage #contents.joinform > section .sub_tit { font-size:40px; font-weight:600; color:#231f20; }
.mypage .joinform .cont { margin-top:55px; padding:80px 130px 93px; border:1px solid #e4e4e4; box-sizing:border-box; }
.mypage .joinform .cont small { display:inline-block; margin-top:10px; padding-left:15px; font-size:13px; }
.mypage .joinform .cont small.mgt1 { display:block; margin-top:-1em; margin-left:96px;}
.mypage .joinform .cont .box { margin-top:30px; }
.mypage .joinform .cont .box:after,
.mypage .joinform .cont .box > div:after { content:""; display:block; clear:both; }
.mypage .joinform .cont .box.mgt20 { margin-top:20px; }
.mypage .joinform .cont .box.mgt20 > div { position:relative; margin-top:10px; width:390px; }
.mypage .joinform .cont .box.mgt20 > div:after { content:""; display:block; clear:both; }
.mypage .joinform .log_name { display:block; width:390px; }
.mypage .joinform .log_id { float:left; display:inline-block; width:267px; }
.mypage .joinform .btn_overlap { float:right; width:113px; background:#555; color:#fff; }
.mypage .joinform .cont .log_pw { float:left; width:390px; }
.mypage .joinform .cont .log_repw { float:left; margin-left:10px; width:390px; }
.mypage .joinform .cont .err1 { display:none; margin-top:-1em; padding-left:415px; color:#ce462d; }
.mypage .joinform .error1 .err1 { display:block; }

.mypage .joinform .cont .bar { position:relative; float:left; display:block; width:28px; height:48px; box-sizing:border-box; }
.mypage .joinform .cont .bar:before { content:""; position:absolute; left:50%; top:50%; transform:translate(-50%, 0); display:block; width:8px; height:1px; background:#949494; }
.mypage .joinform .cont .select { float:left; width:105px; }
.mypage .joinform .cont .w105 { float:left; width:105px; }
.mypage .joinform .cont h5 { float:left; display:inline-block; width:88px; font-weight:400; font-size:16px; line-height:48px; padding-left:15px; box-sizing:border-box; }
.mypage .joinform .cont h5.w147 { width:147px; }
.mypage .joinform .cont .email1 { float:left; width:245px; }
.mypage .joinform .cont .email2 { float:left; width:245px; }
.mypage .joinform .cont .at { float:left; display:block; width:35px; line-height:48px; text-align:center; }
.mypage .joinform .cont .select.w134 { margin-left:8px; width:134px; }
.mypage .joinform .cont .select.w170 { width:170px; }
.mypage .joinform .cont .rdo_middle span { display:inline-block; line-height:48px; margin-right:15px; }
.mypage .joinform .cont .inp_etc { margin-top:19px; margin-left:88px; }
.mypage .joinform .cont .inp_etc input { width:397px; }
.mypage .joinform .cont .btnbox { margin-top:70px; text-align:center; }
.mypage .joinform .cont .btnbox .btn_org { width:190px; }
.mypage .joinform .cont .btnbox .btn_wht { width:190px; margin-left:8px; border:1px solid #322e2f; color:#322e2f; }

/* joinfinish */
.mypage #contents.joinfinish { background:#fff; }
.mypage #contents.joinfinish > section { width:1180px; margin:0 auto; padding:106px 10px 94px; }
.mypage #contents.joinfinish > section .sub_tit { font-size:40px; font-weight:600; color:#231f20; }
.mypage .joinfinish .cont { margin-top:55px; padding:80px 360px 93px; border:1px solid #e4e4e4; box-sizing:border-box; }
.mypage .joinfinish .cont strong { display:block; line-height:36px; font-size:30px; font-weight:400; }
.mypage .joinfinish .cont span { display:block; margin-top:19px; font-size:16px; }
.mypage .joinfinish .cont .btnbox { margin-top:60px; text-align:center; }
.mypage .joinfinish .cont .btnbox .btn_org { width:190px; }

/* mypage_main */
.mypage .mypage_main { background:#fff; }
.mypage .mypage_main .cont .cont_inner { width:490px; margin:0 auto 111px; padding-top:55px; }
.mypage .mypage_main .cont .cont_inner .btn_box { width:100%; }
.mypage .mypage_main .cont .cont_inner [class^="btn_"]:not(.btn_area) { height:auto; }
.mypage .mypage_main .cont .cont_inner .btn_box:after { content:""; display:block; clear:both; }
.mypage .mypage_main .cont .cont_inner .btn_box .btn_org { float:left; width:240px; height:58px; line-height:56px; background:#ce462e; color:#fff; }
.mypage .mypage_main .cont .cont_inner .btn_box .btn_wht { float:right; width:240px; height:58px; line-height:56px; color:#231f20; border:1px solid #231f20; box-sizing:border-box; }
.mypage .mypage_main .cont .cont_inner .mylink { margin-top:30px; padding-top:22px; border-top:1px solid #343536; }
.mypage .mypage_main .cont .cont_inner .mylink:after { content:""; display:block; clear:both; }
.mypage .mypage_main .cont .cont_inner dl { float:left; width:230px; }
.mypage .mypage_main .cont .cont_inner dl:nth-child(2) { float:right; }
.mypage .mypage_main .cont .cont_inner dl dt { font-size:20px; line-height:40px; font-weight:600; padding-left:25px; }
.mypage .mypage_main .cont .cont_inner dl dd { margin-top:15px; font-size:16px; border-bottom:1px solid #e4e4e4; }
.mypage .mypage_main .cont .cont_inner dl dd a { position:relative; display:block; line-height:44px; padding:0 35px 0 25px; box-sizing:border-box; }
.mypage .mypage_main .cont .cont_inner dl dd a:after { content:""; position:absolute; right:20px; top:50%; margin-top:-8px; display:block; width:9px; height:16px; background:url('/pjtCom/images/common/form_icon.png') no-repeat -59px -105px; }

/* mypage_pw */
.mypage .mypage_pw { background:#fff; }
.mypage .mypage_pw .cont .cont_inner { width:490px; margin:0 auto 234px; padding-top:130px; }
.mypage .mypage_pw .cont .cont_inner .txt_box { width:100%; text-align:center; }
.mypage .mypage_pw .cont .cont_inner .txt_box strong { display:block; font-size:24px; line-height:40px; color:#231f20; }
.mypage .mypage_pw .cont .cont_inner .txt_box span { display:block; font-size:16px; line-height:32px; color:#231f20; }
.mypage .mypage_pw .cont .cont_inner .inp_box { padding:0 7px; margin-top:36px; }
.mypage .mypage_pw .cont .cont_inner .inp_box:after { content:""; display:block; clear:both; }
.mypage .mypage_pw .cont .cont_inner .inp_pw { float:left; width:360px; }
.mypage .mypage_pw .cont .cont_inner .btn_gray { float:right; width:106px; background:#555; color:#fff; }
.alert.type3 .inner .txt { margin-top:43px; }

/* password_update */
.mypage .password_update { background:#fff; }
.mypage .password_update .cont .cont_inner { width:490px; margin:0 auto 90px; padding-top:70px; }
.mypage .password_update .inp_box:after { content:""; display:block; clear:both;}
.mypage .password_update .inp_box strong { float:left; display:block; width:140px; font-weight:400; box-sizing:border-box; padding-left:10px; line-height:48px; }
.mypage .password_update .inp_box .inp_pw { float:left; width:340px; }
.mypage .password_update .inp_box:first-child { padding-bottom:40px; }
.mypage .password_update .inp_box:nth-child(2) { position:relative; padding-top:40px; }
.mypage .password_update .inp_box:nth-child(2):before { content:""; position:absolute; left:0; top:0;display:block; width:100%; height:1px; background:#343536; }
.mypage .password_update .inp_box small { display:block; width:100%; padding:8px 0 30px 140px; font-size:13px; text-indent:15px; clear:both; }
.mypage .password_update .btn_box { width:100%; margin-top:60px; text-align:center; }
.mypage .password_update .btn_box .btn_org,
.mypage .password_update .btn_box .btn_wht { width:150px; line-height:48px; vertical-align:middle; }
.mypage .password_update .btn_box .btn_org { background:#ce462d; }
.mypage .password_update .btn_box .btn_wht { border:1px solid #231f20; color:#231f20; }

/* modify */
.mypage .modify { background:#fff; }
.mypage .modify .cont { margin-top:55px; }
.mypage .modify .cont .cont_inner { width:1160px; margin:0 auto 95px; padding:78px 130px 85px; box-sizing:border-box; border:1px solid #e4e4e4; }
.mypage .modify h4 { display:block; font-size:16px; font-weight:600; color:#555555; }
.mypage .modify .box { margin-top:24px; }
.mypage .modify .box:after { content:""; display:block; clear:both; }
.mypage .modify .box:first-child { margin-top:0; }
.mypage .modify .btn_gray { color:#fff; background:#555; }
.mypage .modify .box h5 { float:left; display:block; width:88px; line-height:48px; font-size:16px; padding-left:15px; box-sizing:border-box; }
.mypage .modify .box span { float:left; display:block; line-height:48px; font-size:16px; box-sizing:border-box; }
.mypage .modify .box.name_area span { width:190px; padding:0 20px; }
.mypage .modify .box.name_area .btn_gray { width:86px; }
.mypage .modify .box.id_area span { width:190px; padding:0 20px; }
.mypage .modify .box.email_area .email1,
.mypage .modify .box.email_area .email2 { float:left; width:244px; }
.mypage .modify .box.email_area .at { width:35px; text-align:center; }
.mypage .modify .select.w134 { float:left; display:block; margin-left:8px; }
.mypage .modify #select1-button { width:140px; }
.mypage .modify .phone_area .select { float:left; }
.mypage .modify .phone_area .w105 { float:left; width:105px; }
.mypage .modify .phone_area .bar { position:relative; float:left; display:block; width:28px; height:48px; box-sizing:border-box; }
.mypage .modify .phone_area .bar:before { content:""; position:absolute; left:50%; top:50%; transform:translate(-50%, 0); display:block; width:8px; height:1px; background:#949494;}
.mypage .modify [id^="select2"][id$="-button"] .ui-selectmenu-text { padding-left:20px; }
.mypage .modify #select2-button { width:105px; }
.mypage .modify .rdochk_area1 h5,
.mypage .modify .rdochk_area2 h5 { width:147px; }
.mypage .modify .rdochk_area1 span,
.mypage .modify .rdochk_area2 span { margin-right:15px; }
.mypage .modify #select3-button { width:170px; }
.mypage .modify .ind_area > div:after { content:""; display:block; clear:both; }
.mypage .modify .ind_area span { margin-right:15px; }
.mypage .modify .ind_area .inp_etc { margin-top:15px; padding-left:88px; }
.mypage .modify .ind_area .inp_etc label { float:left; display:block; width:396px; }
.mypage .modify .ind_area .inp_etc small { margin-left:10px; float:left; line-height:48px; }
.mypage .modify .secession_box { margin-top:55px; }
.mypage .modify .secession_box h4,
.mypage .modify .secession_box p { padding-left:16px; line-height:34px; font-size:16px; }
.mypage .modify .secession_box .btn_box { display:block; width:100%; text-align:center; margin-top:-57px; background:none; }
.mypage .modify .secession_box .btn_box .btn_gray { width:113px; line-height:48px; }
.type2.type_inp .txt { margin-top:38px; }
.type2.type_inp span { display:block; }
.type2.type_inp label { display:inline-block; width:175px; margin-top:8px; }
.type2.type_inp label input[type="text"] { line-height:26px; height:28px; padding:0 10px; text-align:center; }
.alert.type3 .inner .txt { margin-top:42px; }
.alert.type4 { background:rgba(0,0,0,0.7); }
.alert.type4 .inner { height:255px; }
.alert.type4 .inner .txt { margin:35px 0 32px; }
.alert.type4 .inner .txt strong { display:block; font-size:30px; line-height:48px; }
.alert.type4 .inner .txt span { display:block; font-size:18px; line-height:38px; }

/* mypage_secession */
.mypage .mypage_secession { background:#fff; }
.mypage .mypage_secession .cont { margin-top:55px; }
.mypage .mypage_secession .cont .cont_inner { width:1060px; margin:0 auto 95px; padding:78px 129px 85px; box-sizing:border-box; border:1px solid #e4e4e4;}
.mypage .mypage_secession h4 { font-size:16px; }
.mypage .mypage_secession b { font-weight:600; }
.mypage .mypage_secession ul { margin-top:35px; }
.mypage .mypage_secession ul:after { content:""; display:block; clear:both; }
.mypage .mypage_secession ul li { float:left; width:394px; line-height:48px; margin-top:8px; }
.mypage .mypage_secession ul li:nth-child(2n) { width:406px; }
.mypage .mypage_secession ul li:nth-child(1),
.mypage .mypage_secession ul li:nth-child(2) { margin-top:0; }
.mypage .mypage_secession .attention { margin-top:43px; padding:0 10px; font-size:16px; line-height:26px; text-indent:-10px; }
.mypage .mypage_secession .agree { margin-top:44px; }
.mypage .mypage_secession .reason input[type=radio] + label { padding-left:8px; }
.mypage .mypage_secession .reason_txt { float:right; width:328px; }
.mypage .mypage_secession .inp_box { margin-top:38px; }
.mypage .mypage_secession .inp_box span { display:block; }
.mypage .mypage_secession .inp_box span:nth-child(2) { margin-top:10px; }
.mypage .mypage_secession .inp_box span:after { content:""; display:block; clear:both; }
.mypage .mypage_secession .inp_box strong { float:left; width:88px; line-height:48px; padding-left:15px; box-sizing:border-box; }
.mypage .mypage_secession .inp_box label { float:left; width:244px; margin-left:13px; }
.mypage .mypage_secession .btn_box { display:block; width:100%; margin-top:72px; text-align:center; }
.mypage .mypage_secession .btn_box .btn_org { display:inline-block; width:190px; background:#ce462d; }
.mypage .mypage_secession .btn_box .btn_wht { display:inline-block; width:190px; margin-left:8px; color:#231f20; border:1px solid #231f20; }

/* .chk_type2 */
.mypage .chk_type2 input[type=checkbox] + label { position:absolute; left:0; top:0; display:block; width:100%; height:100%; margin-left:0; padding-left:0; border:1px solid rgba(0,0,0,0); box-sizing:border-box; }
.mypage .chk_type2 input[type=checkbox] + label:before { top:20px; left:20px; margin-left:0; transform:translate(0,0); width:20px; height:20px; background-position:-67px -30px; }
.mypage .chk_type2 input[type=checkbox]:checked + label { border:1px solid #ce462e; }
.mypage .chk_type2 input[type=checkbox]:checked + label:before {background-position:-92px -30px;}

/* scrap common*/
.mypage .scrap { background:#fff; }
.mypage .scrap .result_list li label { position:absolute; width:0; height:0; top:0; left:-9999px; overflow:hidden; left:-9999px; }
.mypage .scrap .result_list.chk_type2 li label { position:absolute; left:0; top:0; display:block; width:100%; height:100%; box-sizing: border-box; z-index:1; background:none; }
.mypage .scrap .result_list.chk_type2 input[type=checkbox] + label:before { top:30px; left:30px; }
.mypage .scrap .recipe [class*="bbs_gallery_list"] { margin-top:0px; }
.mypage .scrap .recipe [class*="bbs_gallery_list"] .inner { padding-top:20px; }
.mypage .scrap .choice_box { width:100%; margin-top:20px; }
.mypage .scrap .choice_box:after { content:""; display:block; clear:both; }
.mypage .scrap .choice_box button { float:left;width:100px; height:48px; border:1px solid #231f20; color:#231f20;}
.mypage .scrap .choice_box .btn_choiceAll { margin-left:10px; }
.mypage .scrap .choice_box .btn_cancel,
.mypage .scrap .choice_box .btn_choiceAll { display:none; }
.mypage .scrap .choice_box .btn_delete { display:none; float:right; }
.mypage .scrap .choice_box.on .btn_choice { display:none; }
.mypage .scrap .choice_box.on .btn_cancel,
.mypage .scrap .choice_box.on .btn_choiceAll,
.mypage .scrap .choice_box.on .btn_delete { display:block; }
.mypage .scrap .tab_box { width:1180px; margin:90px auto 0; }
.mypage .scrap .tab_box:after { content:""; display:block; clear:both; }
.mypage .scrap .tab_box li { position:relative; float:left; width:394px; line-height:60px; }
.mypage .scrap .tab_box li a { display:block; width:100%; height:100%; text-align:center; font-size:24px; }
.mypage .scrap .tab_box li:after { content:""; position:absolute; left:0; bottom:0; width:100%; height:1px; background:#e4e4e4; }
.mypage .scrap .tab_box li:nth-child(2) { width:392px; }
.mypage .scrap .tab_box li.on { font-weight:600; }
.mypage .scrap .tab_box li.on:after { border-bottom:3px solid #231f20; }
.mypage .scrap .sort_box { width:590px; margin:50px auto 0; }
.mypage .scrap .sort_box:after { content:""; display:block; clear:both; }
.mypage .scrap .sort_box li { float:left; }
.mypage .scrap .sort_box li a { position:relative; display:block; width:100%; height:100%; padding-top:76px; line-height:25px; font-size:18px; text-align:center; }
.mypage .scrap .sort_box li a:before { content:""; display:block; position:absolute; left:0; top:25px; width:1px; height:50px; background:#878687; }
.mypage .scrap .sort_box li a:after { content:""; display:block; position:absolute; left:50%; top:13px; margin-left:-30px; width:60px; height:52px; background:url('/pjtCom/images/common/sort_scrap.png') no-repeat 0 0; }
.mypage .scrap .sort_box li:nth-child(1) { width:145px; }
.mypage .scrap .sort_box li:nth-child(1) a:before { display:none; }
.mypage .scrap .sort_box li:nth-child(2) { width:158px; }
.mypage .scrap .sort_box li:nth-child(2) a:after { background-position:-70px 0; }
.mypage .scrap .sort_box li:nth-child(3) { width:143px; }
.mypage .scrap .sort_box li:nth-child(3) a:after { background-position:-140px 0; }
.mypage .scrap .sort_box li:nth-child(4) { width:141px; }
.mypage .scrap .sort_box li:nth-child(4) a:after { background-position:-210px 0; }
.mypage .scrap [class*="bbs_gallery_list"] .paging { margin-top:30px; }

/* scrap */
.mypage .scrap .recipe .result_area,
.mypage .scrap .calc .result_area { background:#fff; }
.mypage .scrap .recipe .result_list a,
.mypage .scrap .calc .result_list a { padding:73px 40px 0; }
.mypage .scrap .recipe .result_list a:before,
.mypage .scrap .calc .result_list a:before { content:""; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); width:260px; height:400px; border:1px solid #e4e4e4; box-sizing:border-box; }
.mypage .scrap .recipe .result_list .img,
.mypage .scrap .calc .result_list .img { width:170px; height:170px; }
.mypage .scrap .recipe .result_list li,
.mypage .scrap .calc .result_list li { position:relative; overflow:hidden; }

/* scrap_calc */
.mypage .scrap .calc [class*="bbs_gallery_list"] { margin-top:28px; }
.mypage .scrap .calc .result_list a:before { display:none; }
.mypage .scrap .calc .result_list a { height:140px; padding:50px 37px 0; }
.mypage .scrap .calc .result_list a dt { font-size:20px; text-align:left; line-height:28px; font-size:20px; height:28px; }
.mypage .scrap .calc .result_list a dd { font-size:16px; text-align:left; line-height:24px; font-size:16px; }
.mypage .scrap .calc .result_list a:after { content:""; position:absolute; right:20px; bottom:36px; display:block; width:60px; height:8px; background:url('/pjtCom/images/sub/list_arrow.gif') no-repeat 0 0; }
.mypage .scrap .calc .result_list.chk_type2 input[type=checkbox] + label:before { top:20px; left:20px; }

/* scrap_magazine */
.mypage .scrap .magazine [class*="bbs_masonry_list"] { margin-top:30px; }
.mypage .scrap .magazine .btn_more { margin-top:28px; }

/* history */
.mypage .history { background:#fff; }
.mypage .history .choice_box { width:100%; margin-top:20px; }
.mypage .history .choice_box:after { content:""; display:block; clear:both; }
.mypage .history .choice_box button { float:left;width:100px; height:48px; border:1px solid #231f20; color:#231f20;}
.mypage .history .choice_box .btn_delete { float:right; }
.mypage .history .tab_box { width:1180px; margin:90px auto 0; }
.mypage .history .tab_box:after { content:""; display:block; clear:both; }
.mypage .history .tab_box li { position:relative; float:left; width:590px; line-height:60px; }
.mypage .history .tab_box li a { display:block; width:100%; height:100%; text-align:center; font-size:24px; }
.mypage .history .tab_box li:after { content:""; position:absolute; left:0; bottom:0; width:100%; height:1px; background:#e4e4e4; }
.mypage .history .tab_box li.on { font-weight:600; }
.mypage .history .tab_box li.on:after { border-bottom:3px solid #231f20; }

.mypage .history [class*="bbs_gallery_list"] { margin-top:26px; }
.mypage .history .chk_type2 input[type=checkbox] + label:before { left:50%; top:50%; margin:-10px 0 0 -10px;}
.mypage .history .chk_type2 input[type=checkbox]:checked + label { border:1px solid rgba(0,0,0,0); }
.mypage .history .tbl_list tbody td:first-child span { position:relative; display:block; width:100%; height:55px; }
.mypage .history .tbl_list tbody td:nth-child(3) { text-align:left; }
.mypage .history [class*="bbs_gallery_list"] .paging { margin-top:30px; }

/* counsel */
.mypage .counsel { background:#fff; }
.mypage .counsel .choice_box { width:100%; margin-top:20px; }
.mypage .counsel .choice_box:after { content:""; display:block; clear:both; }
.mypage .counsel .choice_box button { float:left;width:100px; height:48px; border:1px solid #231f20; color:#231f20;}
.mypage .counsel .choice_box .btn_delete { float:right; }
.mypage .counsel .tab_box { width:1180px; margin:90px auto 0; }
.mypage .counsel .tab_box:after { content:""; display:block; clear:both; }
.mypage .counsel .tab_box li { position:relative; float:left; width:590px; line-height:60px; }
.mypage .counsel .tab_box li a { display:block; width:100%; height:100%; text-align:center; font-size:24px; }
.mypage .counsel .tab_box li:after { content:""; position:absolute; left:0; bottom:0; width:100%; height:1px; background:#e4e4e4; }
.mypage .counsel .tab_box li.on { font-weight:600; }
.mypage .counsel .tab_box li.on:after { border-bottom:3px solid #231f20; }
.mypage .counsel [class*="bbs_gallery_list"] { margin-top:26px; }
.mypage .counsel .chk_type2 input[type=checkbox] + label:before { left:50%; top:50%; margin:-10px 0 0 -10px;}
.mypage .counsel .chk_type2 input[type=checkbox]:checked + label { border:1px solid rgba(0,0,0,0); }
.mypage .counsel .tbl_list tbody td:first-child span { position:relative; display:block; width:100%; height:55px; }
.mypage .counsel .tbl_list tbody td:nth-child(3) { text-align:left; }
.mypage .counsel [class*="bbs_gallery_list"] .paging { margin-top:30px; }

.mypage .counsel .tbl_list tbody td a div { display:inline-block; width:70px; height:70px; margin-right:20px; vertical-align:middle; border:1px solid #e1e1e1; }
.mypage .counsel .tbl_list tbody td a span { display:inline-block; max-width:550px; vertical-align:middle; }
