/**
* --------------------------------
* FOOTER CSS
* --------------------------------
*/

/* terms, privacy */
.etc .terms .cont,
.etc .privacy .cont { position:relative; overflow:auto; margin:75px auto 125px; display:block; width:1060px; height:494px; border:1px solid #e4e4e4; box-sizing:border-box; background:#fff; }
.etc .terms .cont .cont_inner,
.etc .privacy .cont .cont_inner { padding:40px 40px 40px 26px; font-size:16px; line-height:24px; }

/* sitemap */
.etc .sitemap .cont { margin:52px 0 68px; }
.etc .sitemap .cont .cont_inner { width:1180px; margin:0 auto; }
.etc .sitemap dl:after { content:""; display:block; clear:both; }
.etc .sitemap dl a { display:inline-block; }
.etc .sitemap .depth1 { width:100%; border-top:1px solid #e4e4e4; }
.etc .sitemap .depth1 > dt { position:relative; float:left; width:133px; font-size:22px; font-weight:600; padding-top:35px; box-sizing:border-box; letter-spacing:-0.1em; }
.etc .sitemap .depth1 > dt:before { content:""; position:absolute; left:0; top:-2px; display:block; width:100%; height:2px; background:#ce462e; }
.etc .sitemap .depth1 > dd { float:left; width:1047px; padding:32px 0 45px 88px; box-sizing:border-box; letter-spacing:-0.04em; }
.etc .sitemap .depth1 > dd:after { content:""; display:block; clear:both; }
.etc .sitemap .depth2 { float:left; width:170px; }
.etc .sitemap .depth2 dt a { font-size:18px; line-height:26px; font-weight:600; }
.etc .sitemap .depth2 dd:nth-child(2) { margin-top:15px; }
.etc .sitemap .depth2 dd a { font-size:16px; line-height:26px; }


/* 검색결과 */
.etc .search .search_area { width:1180px; margin:0 auto; padding-top:115px; background:#fff; overflow:hidden; }
.etc .search .search_area .inner { float:none; width:758px; margin:0 auto; padding-top:23px; }
.etc .search .search_area legend { display:none; }
.etc .search .search_area .search_write { border-bottom:1px solid #000000; overflow:hidden; }
.etc .search .search_area .write_txt { float:left; width:693px; height:65px; font-size:24px; color:#949494; border:none; outline:none; }
.etc .search .search_area input::placeholder { color:#949494; }
.etc .search .search_area .btn_search { float:left; position:relative; width:65px; height:65px; text-indent:-9999px; background:#fff; }
.etc .search .search_area .btn_search:after { content:""; position:absolute; top:15px; left:20px; transform:none; width:30px; height:31px; background:url(/pjtCom/images/common/icon_header.png) no-repeat -69px 0; }
.etc .search .search_area .txt_result { font-size:24px; text-align:center; color:#231f20; margin:40px 0 53px;}
.etc .search [class^="bbs"] .inner { padding:61px 0 0 0; }
.etc .search .recipe_western { border-top:1px solid #dbdbdb; }
.etc .search .result_area { margin-top:0; background:#f6f6f6; }
.etc .search [class*="recipe"] a { padding:73px 40px 0; }
.etc .search [class*="recipe"] a:before { content:""; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); width:260px; height:400px; border:1px solid #e4e4e4; box-sizing:border-box; }
.etc .search [class*="recipe"] .img { width:170px; height:170px; }
.etc .search [class*="form"] a { padding:52px 19px 0; }
.etc .search [class*="form"] .img { width:auto; height:240px; }
.etc .search .form_name .img { width:208px; height:auto; }
.etc .search .magazine li { margin-left:20px; }
.etc .search .magazine li:first-child { margin-left:0 }
.etc .search .press .list_box { width:1180px; margin:0 auto; }
.etc .search .press .list_box:after { content:""; display:block; clear:both; }
.etc .search .press .list_box li { position:relative; float:left; width:580px; height:212px; margin-top:20px; border:1px solid #e7e7e7; box-sizing:border-box; }
.etc .search .press .list_box li a { display:block; width:100%; height:100%; background:#fff; }
.etc .search .press .list_box li:nth-child(2n) { margin-left:20px; }
.etc .search .press .list_box li:nth-child(1),
.etc .search .press .list_box li:nth-child(2) { margin-top:0; }
.etc .search .press .list_box li .img_box { position:absolute;; top:50%; left:50px; transform:translate(0,-50%); width:162px; height:162px; box-sizing:border-box; border-radius:162px; overflow:hidden; }
.etc .search .press .list_box li .txt_box { position:relative; float:right; width:288px; margin:44px 50px 0 0; padding-bottom:35px; }
.etc .search .press .list_box li .txt_box span { display:block; font-size:16px; color:#807e7e; letter-spacing:0.1em;}
.etc .search .press .list_box li .txt_box strong { display:inline-block; width:288px; margin-top:14px; font-size:20px;line-height:1.3em; height:2.6em; max-height:2.6em; font-weight:400; letter-spacing:-0.04em; color:#231f20; overflow:hidden; word-break:break-all; }
.etc .search .press .list_box li .txt_box:after { content:""; position:absolute; right:0; bottom:0; display:block; width:60px; height:8px; background:url('/pjtCom/images/sub/list_arrow.gif') no-repeat 0 0; }
.etc .search .notice { padding-bottom:120px; }
.etc .search .notice tbody td { background:#fff; }
.etc .search .notice tbody td:first-child { text-align:left; }
.etc .search .no_data { height:250px; border:1px solid #dbdbdb; margin:0; padding-top:45px; box-sizing:border-box; }
