@charset "utf-8";

/**
* --------------------------------
* Sub CSS
* --------------------------------
*/



/* 게시판 : 갤러리 타입 : 목록 */
[class*="bbs_gallery_list"] { margin-top:70px; }
.no_search + [class*="bbs_gallery_list"] { margin-top:0; }
[class*="bbs_gallery_list"] .inner { width:1180px; margin:0 auto; padding:34px 0 107px; }
[class*="bbs_gallery_list"] .result { display:block; color:#555; margin-bottom:15px; }
[class*="bbs_gallery_list"] .result_list:after { content:""; display:block; clear:both; }
[class*="bbs_gallery_list"] .result_list li { float:left; margin:20px 0 0 20px; }
[class*="bbs_gallery_list"] .result_list li:nth-child(1),
[class*="bbs_gallery_list"] .result_list li:nth-child(2),
[class*="bbs_gallery_list"] .result_list li:nth-child(3),
[class*="bbs_gallery_list"] .result_list li:nth-child(4) { margin-top:0; }
[class*="bbs_gallery_list"] .result_list li:nth-child(4n+1) { margin-left:0; }
[class*="bbs_gallery_list"] .result_list a { display:block; position:relative; width:280px; height:423px; text-align:center; border:1px solid #e4e4e4; background:#fff; box-sizing:border-box; }
[class*="bbs_gallery_list"] .result_list .txt_area { margin-top:35px; }
[class*="bbs_gallery_list"] .result_list .sort { font-size:14px; line-height:27px; color:#e19d3b; }
[class*="bbs_gallery_list"] .result_list .name { height:48px; font-size:18px; line-height:24px; color:#231f20; }
[class*="bbs_gallery_list"] .result_list .date { font-size:14px; color:#807e7f; margin-top:12px; }
[class*="bbs_gallery_list"] .result_list .state { position:absolute; z-index:1; top:-6px; right:20px; width:80px; height:40px; font-size:16px; text-align:center; color:#fff; overflow:hidden; }
[class*="bbs_gallery_list"] .result_list .state:before { content:""; position:absolute; z-index:-1; bottom:0; left:0; width:80px; height:80px; border-radius:100%; }
[class*="bbs_gallery_list"] .result_list .state.best:before { background:#ee3023; }
[class*="bbs_gallery_list"] .result_list .state.new:before { background:#fdba13; }
[class*="bbs_gallery_list"] .result_list .state.recruit:before { background:#ee3023; }
[class*="bbs_gallery_list"] .result_list .state:after { content:""; display:inline-block; height:100%; vertical-align:middle; }
[class*="bbs_gallery_list"] .paging { margin-top:96px; }



/* 게시판 : 갤러리 타입 : 상세 */
[class*="bbs_gallery_view"] { position:relative; width:1180px; margin:55px auto 0; border-top:1px solid #221e1f; overflow:hidden; }
[class*="bbs_gallery_view"] .info_area:after { content:""; display:block; clear:both; }
[class*="bbs_gallery_view"] .info_area .img { float:left; overflow:hidden; }
[class*="bbs_gallery_view"] .info_area .img:after { content:""; display:inline-block; height:100%; vertical-align:middle; }
[class*="bbs_gallery_view"] .info_area .img img { width:450px; vertical-align:middle;}
[class*="bbs_gallery_view"] .txt_area { float:left; width:523px; margin-left:130px; padding:25px 0 0; }
[class*="bbs_gallery_view"] .txt_area .sort { display:inline-block; font-size:22px; line-height:27px; }
[class*="bbs_gallery_view"] .txt_area .tit { font-weight:400; font-size:44px; line-height:53px; color:#231f20; margin:30px 0 18px; }
[class*="bbs_gallery_view"] .txt_area > .txt { font-size:16px; line-height:25px; color:#555; }
[class*="bbs_gallery_view"] .txt_area .hash_list { margin:37px 0 62px -8px; overflow:hidden; }
[class*="bbs_gallery_view"] .txt_area .hash_list li { float:left; margin:10px 0 0 8px; }
[class*="bbs_gallery_view"] .txt_area .hash_list li a { display:inline-block; height:27px; font-size:16px; line-height:27px; color:#231f20; padding:0 9px; background:#f5f4f2; }
[class*="bbs_gallery_view"] .txt_area .btn_area { position:relative; }
[class*="bbs_gallery_view"] .txt_area .btn_area [class^="btn"] { width:210px; height:60px; font-size:18px; margin-left:10px; }
[class*="bbs_gallery_view"] .txt_area .btn_area [class^="btn"]:before { content:""; display:inline-block; width:25px; height:30px; vertical-align:middle; margin-right:15px; background:url(/pjtCom/images/common/icon_bbs_btn.png) no-repeat 0 0; }
[class*="bbs_gallery_view"] .txt_area .btn_area [class^="btn"]:first-child { margin-left:0; }
[class*="bbs_gallery_view"] .txt_area .btn_area .btn_download { color:#fff; background:#d4462c; }
[class*="bbs_gallery_view"] .share_area { position:absolute; top:14px ; left:0; }
[class*="bbs_gallery_view"] .share_list li { float:left; margin-left:6px; }
[class*="bbs_gallery_view"] .share_list li:first-child { margin-left:0; }
[class*="bbs_gallery_view"] .share_list li button { display:block; width:30px; height:30px; text-indent:-9999px; background:url(/pjtCom/images/common/icon_sns.png) no-repeat 0 0; }
[class*="bbs_gallery_view"] .share_list li.facebook button { background-position:0 0; }
[class*="bbs_gallery_view"] .share_list li.blog button { background-position:-35px 0; }
[class*="bbs_gallery_view"] .share_list li.kakao button { background-position:-70px 0; }



/* 게시판 : 확장형 : 목록 */
[class*="bbs_masonry_list"] { margin-top:70px; }
.no_search + [class*="bbs_masonry_list"] { margin-top:0; }
[class*="bbs_masonry_list"] .inner { width:1180px; margin:0 auto; padding:34px 0 107px; }
[class*="bbs_masonry_list"] .result { display:block; color:#555; margin-bottom:15px; }
[class*="bbs_masonry_list"] .result_list { width:1180px; }
[class*="bbs_masonry_list"] .result_list:after { content:""; display:block; clear:both; }
[class*="bbs_masonry_list"] .result_list li { float:left; position:relative; margin-top:20px; }
[class*="bbs_masonry_list"] .result_list li:nth-child(1),
[class*="bbs_masonry_list"] .result_list li:nth-child(2),
[class*="bbs_masonry_list"] .result_list li:nth-child(3),
[class*="bbs_masonry_list"] .result_list li:nth-child(4) { margin-top:0; }
[class*="bbs_masonry_list"] .result_list a { display:block; position:relative; width:280px; box-shadow:0px 0px 3px 0px rgba(0, 0, 0, 0.2); background:#fff; box-sizing:border-box; }
[class*="bbs_masonry_list"] .result_list .txt_area { padding:17px 30px; }
[class*="bbs_masonry_list"] .result_list .date { font-size:12px; text-align:left; line-height:32px; color:#807e7e; }
[class*="bbs_masonry_list"] .result_list .subject { height:48px; font-size:18px; line-height:24px; color:#231f20; }

[class*="bbs_masonry_list"] .share_area { position:absolute; top:14px; right:14px; }
[class*="bbs_masonry_list"] .share_list li { float:left; }
[class*="bbs_masonry_list"] .share_list li button { display:block; height:33px; text-indent:-9999px; background:url(/pjtCom/images/common/icon_sns.png) no-repeat 0 0; }
[class*="bbs_masonry_list"] .share_list li.facebook button { width:21px; background-position:0 -35px; }
[class*="bbs_masonry_list"] .share_list li.blog button { width:25px; background-position:-26px -35px; }
[class*="bbs_masonry_list"] .share_list li.kakao button { width:21px; background-position:-56px -35px; }

[class*="bbs_masonry_list"] .btn_more { margin-top:96px; }
