/**
 * --------------------------------
 * Common CSS
 * --------------------------------
 */
 @font-face {
     font-family: 'NanumSquare';
     font-style: normal;
     font-weight: 400;
     src: local('NanumSquareL'),
     url('/pjtCom/fonts/NanumSquareL.eot'),
     url('/pjtCom/fonts/NanumSquareL.eot?#iefix') format('embedded-opentype'),
     url('/pjtCom/fonts/NanumSquareL.woff') format('woff');
 }

 @font-face {
     font-family: 'NanumSquare';
     font-style: normal;
     font-weight: 500;
     src: local('NanumSquareR'),
     url('/pjtCom/fonts/NanumSquareR.eot'),
     url('/pjtCom/fonts/NanumSquareR.eot?#iefix') format('embedded-opentype'),
     url('/pjtCom/fonts/NanumSquareR.woff') format('woff');
 }

 @font-face {
     font-family: 'NanumSquare';
     font-style: normal;
     font-weight: 600;
     src: local('NanumSquareEB'),
     url('/pjtCom/fonts/NanumSquareEB.eot'),
     url('/pjtCom/fonts/NanumSquareEB.eot?#iefix') format('embedded-opentype'),
     url('/pjtCom/fonts/NanumSquareEB.woff') format('woff');
 }

html, body { min-height:100%; height:100%; }
html { font-family:'NanumSquare', sans-serif; font-weight:500; font-size:16px; letter-spacing:-0.04em; line-height:1; color:#555; word-break:keep-all; word-wrap:break-word; }
h1,h2,h3,h4,h5,h6 { margin:0; }
ul, ol { list-style:none; margin:0; padding:0; }
fieldset { margin:0; padding:0; border:none; }
textarea { resize:none; }
button { font-family:'NanumSquare', sans-serif; cursor:pointer; padding:0; border:none; }
a { text-decoration:none; color:#555; }
p { margin:0; }
em { font-style:normal; }
table { table-layout:fixed; width:100%; border-collapse:collapse; border-spacing:0; }
th { padding:0; }
td { padding:0; }
input { padding:0; box-sizing:border-box; }
dl, dd { margin:0; }
figure { margin:0; }
img { vertical-align:top; }
hr { display:none; }
address { font-style:normal; }
legend { position:absolute; left:-9999px; }
caption { position:absolute; left:-9999px; }
[type=file] { cursor:pointer; }
.hide { position:absolute; left:-9999px; }

/* skip */
.skip a { display:flex;position:absolute; z-index:9999; top:-35px; width:100%; height:33px; font-size:15px; line-height:33px; font-weight:bold; letter-spacing:-2px; text-align:center; text-decoration:none; background:#ffffff; opacity:0.9; }
.skip a:focus { top:0; }
.skip a:hover { letter-spacing:-1px; }

/* input */
input[type=text], input[type=number], input[type=password] { width:100%; height:48px; color:#555; padding:8px 15px; line-height:32px; border:1px solid rgba(228,228,228,0); border-bottom:1px solid #e4e4e4; box-sizing:border-box; outline:none; }
input[type=text]:focus,
input[type=number]:focus,
input[type=password]:focus { border:1px solid rgba(228,228,228,1); border-bottom:2px solid #231f20; padding-bottom:7px; }
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { -webkit-appearance:none; }
input::placeholder { font-size:16px; color:#949494; }
.inp_icon { position:relative; }
.inp_icon:before { content:''; position:absolute; display:block; left:24px; top:50%; transform:translate(-50%,-50%); background:url('/pjtCom/images/common/form_icon.png') no-repeat 0 0; box-sizing:border-box; }
.inp_icon input[type=text],
.inp_icon input[type=number],
.inp_icon input[type=password] { padding-left:50px; }

.inp_type2 input[type=text],
.inp_type2 input[type=number],
.inp_type2 input[type=password] { border:1px solid #e4e4e4; }
.inp_type2 input[type=text]:focus,
.inp_type2 input[type=number]:focus,
.inp_type2 input[type=password]:focus { border:1px solid #555; }
.inp_type3 input[type=text]:focus,
.inp_type3 input[type=number]:focus,
.inp_type3 input[type=password]:focus { border:1px solid rgba(0,0,0,0); border-bottom:2px solid #555; padding-bottom:7px; }

/* checkbox */
input[type=checkbox] { position:absolute; left:-9999px; }
input[type=checkbox] + label { position:relative; height:26px; line-height:26px; margin-left:26px; padding-left:12px; user-select:none; cursor:pointer; }
input[type=checkbox] + label:before { content:""; position:absolute; top:50%; left:-26px; transform:translate(0, -50%); width:26px; height:26px; background:url('/pjtCom/images/common/form_icon.png') no-repeat 0 -30px; }
input[type=checkbox]:checked + label:before {background-position:-36px -30px;}
input[type=checkbox].chk_type1 + label:before  { width:26px; height:26px; background-position:0 -30px;}
input[type=checkbox].chk_type1:checked + label:before { background-position:-36px -30px; }
input[type=checkbox].chk_type2 + label:before  { width:20px; height:20px; background-position:-67px -30px;}
input[type=checkbox].chk_type2:checked + label:before { background-position:-92px -30px; }

/* radio */
input[type=radio] { position:absolute; left:-9999px; }
input[type=radio] + label { position:relative; height:26px; line-height:26px; margin-left:26px; padding-left:4px; user-select:none; cursor:pointer; }
input[type=radio] + label:before { content:""; position:absolute; top:50%; left:-26px; transform:translate(0, -50%); width:26px; height:26px; background:url('/pjtCom/images/common/form_icon.png') no-repeat 0 -30px; }
input[type=radio]:checked + label:before { background-position:-36px -30px; }
input[type=radio].rdo_type1 + label:before  { width:26px; height:26px; background-position:0 -30px;}
input[type=radio].rdo_type1:checked + label:before { background-position:-36px -30px; }
input[type=radio].rdo_type2 + label:before  { width:20px; height:20px; background-position:-67px -30px;}
input[type=radio].rdo_type2:checked + label:before { background-position:-92px -30px; }

/* select */
.ui-widget { font-family:'NanumSquare', sans-serif; }
[id^="select"][id$="-button"] { display:inline-block; width:105px; height:48px; font-size:16px; color:#555; margin:0; padding:0; border:1px solid #e4e4e4; border-radius:0; background:#fff; box-sizing:border-box; }
[id^="select"][id$="-button"]:active { color:#555; }
[id^="select"][id$="-button"] .ui-selectmenu-text { height:100%; padding-left:20px; }
[id^="select"][id$="-button"] .ui-selectmenu-text:after { content:""; display:inline-block; height:100%; vertical-align:middle; }
[id^="select"][id$="-button"] .ui-selectmenu-icon { float:none; position:absolute; top:50%; right:20px; transform:translateY(-50%); width:12px; height:8px; background: url(/pjtCom/images/common/form_icon.png) no-repeat 0 -105px; }
.ui-widget.ui-widget-content { border:1px solid #e4e4e4; border-radius:0; background:#fff; }
.ui-menu .ui-menu-item-wrapper { height:34px; font-weight:400; color:#555; margin:0; padding:0 0 0 20px; }
.ui-menu .ui-menu-item-wrapper:after { content:""; display:inline-block; height:100%; vertical-align:middle; }
.ui-menu .ui-menu-item-wrapper.ui-state-active { color:#231f20; border:none; background:#f6f6f6; }

/* button */
[class^="btn_"]:not(.btn_area) { position:relative; display:inline-block; height:48px; box-sizing:border-box; text-align:center; background:#fff; }
[class^="btn_"]:not(.btn_area):before { content:""; display:inline-block; height:100%; vertical-align:middle; }
[class^="btn_"]:not(.btn_area):after { content:""; display:inline-block; height:100%; vertical-align:middle; }
.btn_org { background:#ce462d; color:#fff; }
.btn_blk { background:#555; color:#fff; }

/* paging */
.paging { font-size:0; text-align:center; }
.paging a { display:inline-block; vertical-align:middle; }
.paging .num { margin:0 6px; }
.paging .num a { font-size:13px; text-align:center; line-height:32px; color:#555; margin:0 7px; }
.paging .num .on { width:32px; height:32px; font-size:20px; color:#fff; border-radius:100%; background:#949494; }
.paging [class^="btn"] { position:relative; width:32px; height:32px; background:none; }
.paging [class^="btn"]:after { content:""; position:absolute; top:50%; left:50%; transform-origin:25% 25%; transform:translate(-50%, -50%); height:12px; background:url('/pjtCom/images/common/btn_paging.png') no-repeat 0 0; }
.paging .btn_first:after { width:12px; background-position:0 0; }
.paging .btn_last:after { transform:rotate(180deg); width:12px; background-position:0 0; }
.paging .btn_prev:after { width:6px; background-position:-17px 0; }
.paging .btn_next:after { transform:rotate(180deg); width:6px; background-position:-17px 0; }

/* tabmenu */
.tab_contents { display:none; }
.tab_contents.show { display:block; }

/* alert */
.alert { position:fixed; left:0; top:0; z-index:100; display:none; min-width:1280px; width:100%; height:100%; box-sizing:border-box; }
.alert .inner { position:absolute; left:50%; top:60%; transform:translate(-50%, -50%); width:460px; height:224px; padding:20px; background:#fff; border:1px solid #949494; box-sizing:border-box; }
.alert .inner .btn_close { position:absolute; right:20px; top:20px; width:60px; height:54px; text-indent:-9999px; width:20px; height:20px; background:url('/pjtCom/images/common/btn.png') no-repeat -84px 0; }
.alert .inner .txt { font-size:16px; line-height:24px; text-align:center; color:#231f20; margin:30px 0 20px; }
.alert .inner .btn_ok { display:block; width:113px; height:39px; font-size:16px; text-align:center; color:#fff; margin:0 auto; background:#555; }
.alert .inner .btn_ok.org { background:#ce462d; color:#fff; }
.alert.type1 .inner .txt { margin-top:54px; }
.alert.type2 .inner .txt .small { display:block; font-size:13px; line-height:20px; color:#949494; margin-top:10px; }

/* search */
.search_area { width:1280px; margin:5px auto 30px; padding:0 50px; box-sizing:border-box; }
.search_area:after { content:""; display:block; clear:both; }
.search_area .inner { float:right; position:relative; width:342px; }
.search_area .btn_search { position:absolute; top:1px; right:1px; width:45px; height:45px; text-indent:-9999px; }
.search_area .btn_search:after { content:""; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); width:25px; height:25px; background:url(/pjtCom/images/common/form_icon.png) no-repeat 0 -118px; }
.search_area .btn_info { height:22px; line-height:22px; margin-top:17px; background:none; }
.search_area .btn_info:before { content:""; display:inline-block; width:22px; height:22px; vertical-align:top; margin-right:8px; background:url(/pjtCom/images/sub/icon_form.png) no-repeat 0 0; }
.search_txt { font-size:20px; text-align:center; }
.no_data { text-align:center; margin:30px 0 85px; }
.no_data .txt1 { font-weight:600; font-size:22px; margin:15px 0 50px; }
.no_data .txt2_list { display:inline-block; text-align:left; }
.no_data .txt2 { font-size:16px; line-height:24px; color:#000; }
.no_data .txt2:before { content:"-"; display:inline-block; }

/* 게시판 : 목록 : 갤러리 타입 */
[class*="bbs_gallery_list"] { margin-top:70px; }
.no_search + [class*="bbs_gallery_list"] { margin-top:0; }
[class*="bbs_gallery_list"] .inner { width:1180px; margin:0 auto; padding:34px 0 107px; }
[class*="bbs_gallery_list"] .result { display:block; color:#555; margin-bottom:15px; }
[class*="bbs_gallery_list"] .result_list:after { content:""; display:block; clear:both; }
[class*="bbs_gallery_list"] .result_list li { float:left; margin:20px 0 0 20px; }
[class*="bbs_gallery_list"] .result_list li:nth-child(1),
[class*="bbs_gallery_list"] .result_list li:nth-child(2),
[class*="bbs_gallery_list"] .result_list li:nth-child(3),
[class*="bbs_gallery_list"] .result_list li:nth-child(4) { margin-top:0; }
[class*="bbs_gallery_list"] .result_list li:nth-child(4n+1) { margin-left:0; }
[class*="bbs_gallery_list"] .result_list label,
[class*="bbs_gallery_list"] .result_list a { display:block; position:relative; width:280px; height:423px; text-align:center; border:1px solid #e4e4e4; background:#fff; box-sizing:border-box; }
[class*="bbs_gallery_list"] .result_list label { line-height:inherit; margin:0; padding:0; }
[class*="bbs_gallery_list"] .result_list label:before { position:absolute; top:20px; left:20px; transform:none; }
[class*="bbs_gallery_list"] .result_list .txt_area { margin-top:35px; }
[class*="bbs_gallery_list"] .result_list .sort { font-size:14px; line-height:27px; color:#e19d3b; }
[class*="bbs_gallery_list"] .result_list .name { height:48px; font-size:18px; line-height:24px; color:#231f20; }
[class*="bbs_gallery_list"] .result_list .date { font-size:14px; color:#807e7f; margin-top:12px; }
[class*="bbs_gallery_list"] .result_list .state { position:absolute; z-index:1; top:-6px; right:20px; width:80px; height:40px; font-size:16px; text-align:center; color:#fff; overflow:hidden; }
[class*="bbs_gallery_list"] .result_list .state:before { content:""; position:absolute; z-index:-1; bottom:0; left:0; width:80px; height:80px; border-radius:100%; }
[class*="bbs_gallery_list"] .result_list .state.best:before { background:#ee3023; }
[class*="bbs_gallery_list"] .result_list .state.new:before { background:#fdba13; }
[class*="bbs_gallery_list"] .result_list .state.recruit:before { background:#ee3023; }
[class*="bbs_gallery_list"] .result_list .state:after { content:""; display:inline-block; height:100%; vertical-align:middle; }
[class*="bbs_gallery_list"] .paging { margin-top:96px; }

/* 게시판 : 목록 : 확장형 */
[class*="bbs_masonry_list"] { margin-top:70px; }
.no_search + [class*="bbs_masonry_list"] { margin-top:0; }
[class*="bbs_masonry_list"] .inner { width:1180px; margin:0 auto; padding:34px 0 107px; }
[class*="bbs_masonry_list"] .result { display:block; color:#555; margin-bottom:15px; }
[class*="bbs_masonry_list"] .result_list { width:1180px; }
[class*="bbs_masonry_list"] .result_list:after { content:""; display:block; clear:both; }
[class*="bbs_masonry_list"] .result_list li { float:left; position:relative; margin-top:20px; }
[class*="bbs_masonry_list"] .result_list li:nth-child(1),
[class*="bbs_masonry_list"] .result_list li:nth-child(2),
[class*="bbs_masonry_list"] .result_list li:nth-child(3),
[class*="bbs_masonry_list"] .result_list li:nth-child(4) { margin-top:0; }
[class*="bbs_masonry_list"] .result_list a { display:block; position:relative; width:280px; box-shadow:0px 0px 3px 0px rgba(0, 0, 0, 0.2); background:#fff; box-sizing:border-box; }
[class*="bbs_masonry_list"] .result_list .txt_area { padding:17px 30px; }
[class*="bbs_masonry_list"] .result_list .date { font-size:12px; text-align:left; line-height:32px; color:#807e7e; }
[class*="bbs_masonry_list"] .result_list .subject { height:48px; font-size:18px; line-height:24px; color:#231f20; }
[class*="bbs_masonry_list"] .share_area { position:absolute; top:14px; right:14px; }
[class*="bbs_masonry_list"] .share_list li { float:left; }
[class*="bbs_masonry_list"] .share_list li button { display:block; height:33px; text-indent:-9999px; background:url(/pjtCom/images/common/icon_sns.png) no-repeat 0 0; }
[class*="bbs_masonry_list"] .share_list li.facebook button { width:21px; background-position:0 -70px; }
[class*="bbs_masonry_list"] .share_list li.band button { width:25px; background-position:-26px -70px; }
[class*="bbs_masonry_list"] .share_list li.kakao button { width:21px; background-position:-56px -70px; }
[class*="bbs_masonry_list"] .btn_more { margin-top:96px; }

/* 게시판 : 상세 : 일반 타입 */
[class*="bbs_basic_view"] { position:relative; width:1180px; margin:55px auto 0; padding:83px 0 130px; border-top:1px solid #221e1f; overflow:hidden; }
[class*="bbs_basic_view"] .info_area .img { width:450px; height:670px; margin-left:74px; overflow:hidden; }
[class*="bbs_basic_view"] .info_area { position:relative; padding:0 40px; }
[class*="bbs_basic_view"] .info_area .tit { height:54px; font-weight:normal; font-size:30px; line-height:53px; color:#000; padding:0 35px; border-bottom:1px solid #a6a6a6; box-sizing:border-box; }
[class*="bbs_basic_view"] .info_area .tit dl { float:right; font-size:16px; color:#555; overflow:hidden; }
[class*="bbs_basic_view"] .info_area .tit dl .name { float:left; padding:0 35px; margin-left:35px; }
[class*="bbs_basic_view"] .info_area .tit dl .txt { float:left; }
[class*="bbs_basic_view"] .info_area > dl { height:80px; font-size:16px; line-height:80px; color:#555; padding:0 35px; border-bottom:1px solid #a6a6a6; overflow:hidden; }
[class*="bbs_basic_view"] .info_area > dl .name { float:left; position:relative; text-align:center; padding:0 35px; margin-left:35px; }
[class*="bbs_basic_view"] .info_area > dl .name:before { content:""; position:absolute; top:50%; left:0; transform:translateY(-50%); width:1px; height:18px; background:#bcbcbc; }
[class*="bbs_basic_view"] .info_area > dl .name:first-child { margin-left:0; padding-left:0; }
[class*="bbs_basic_view"] .info_area > dl .name:first-child:before { display:none; }
[class*="bbs_basic_view"] .info_area > dl .txt { float:left; box-sizing:border-box; }
[class*="bbs_basic_view"] .info_area > dl .name:first-child + .txt { width:245px; }
[class*="bbs_basic_view"] .function_area { position:absolute; top:14px ; right:40px; }
[class*="bbs_basic_view"] .function_area [class^="btn"] { position:relative; width:34px; height:auto; font-size:13px; text-align:center; color:#231f20; margin-left:24px; }
[class*="bbs_basic_view"] .function_area [class^="btn"]:before { content:""; display:block; height:35px; margin:0 auto 7px; background:url(/pjtCom/images/common/icon_function.png) no-repeat 0 0; }
[class*="bbs_basic_view"] .function_area [class^="btn"]:first-child { margin-left:0; }
[class*="bbs_basic_view"] .function_area .btn_print:before { width:33px; background-position:0 0; }
[class*="bbs_basic_view"] .function_area .btn_scrap:before { width:29px; background-position:-38px 0; }
[class*="bbs_basic_view"] .share_area { position:absolute; top:14px ; left:0; }
[class*="bbs_basic_view"] .share_list li { float:left; margin-left:6px; }
[class*="bbs_basic_view"] .share_list li:first-child { margin-left:0; }
[class*="bbs_basic_view"] .share_list li button { display:block; width:30px; height:30px; text-indent:-9999px; background:url(/pjtCom/images/common/icon_sns.png) no-repeat 0 0; }
[class*="bbs_basic_view"] .share_list li.facebook button { background-position:0 0; }
[class*="bbs_basic_view"] .share_list li.band button { background-position:-35px 0; }
[class*="bbs_basic_view"] .share_list li.kakao button { background-position:-70px 0; }
[class*="bbs_basic_view"] .share_list li.facebook button:hover { background-position:0 -35px; }
[class*="bbs_basic_view"] .share_list li.band button:hover { background-position:-35px -35px; }
[class*="bbs_basic_view"] .share_list li.kakao button:hover { background-position:-70px -35px; }
[class*="bbs_basic_view"] .edit_area { margin-top:70px; padding:0 74px 60px; border-bottom:1px solid #cecece; }
[class*="bbs_basic_view"] .btn_apply { display:block; width:209px; height:49px; font-size:18px; color:#fff; margin:60px auto 0; background:#d3472d; }
[class*="bbs_basic_view"] .btn_apply:before { content:""; display:inline-block; height:100%; vertical-align:middle; }
[class*="bbs_basic_view"] .btn_apply:after { content:""; display:inline-block; width:10px; height:17px; margin-left:12px; background:url(/pjtCom/images/common/icon_bbs_btn.png) no-repeat -88px 0; }
[class*="bbs_basic_view"] .btn_list { display:block; width:113px; height:39px; color:#fff; margin:88px auto 0; background:#555; }

/* 게시판 : 상세 : 갤러리 타입 */
[class*="bbs_gallery_view"] { position:relative; width:1180px; margin:55px auto 0; border-top:1px solid #221e1f; overflow:hidden; }
[class*="bbs_gallery_view"] .info_area:after { content:""; display:block; clear:both; }
[class*="bbs_gallery_view"] .info_area .img { float:left; overflow:hidden; }
[class*="bbs_gallery_view"] .info_area .img:after { content:""; display:inline-block; height:100%; vertical-align:middle; }
[class*="bbs_gallery_view"] .info_area .img img { width:450px; vertical-align:middle;}
[class*="bbs_gallery_view"] .txt_area { float:left; width:523px; margin-left:130px; padding:25px 0 0; }
[class*="bbs_gallery_view"] .txt_area .sort { display:inline-block; font-size:22px; line-height:27px; }
[class*="bbs_gallery_view"] .txt_area .tit { font-weight:400; font-size:44px; line-height:53px; color:#231f20; margin:30px 0 18px; }
[class*="bbs_gallery_view"] .txt_area > .txt { font-size:16px; line-height:25px; color:#555; }
[class*="bbs_gallery_view"] .txt_area .hash_list { margin:37px 0 62px -8px; overflow:hidden; }
[class*="bbs_gallery_view"] .txt_area .hash_list li { float:left; margin:10px 0 0 8px; }
[class*="bbs_gallery_view"] .txt_area .hash_list li a { display:inline-block; height:27px; font-size:16px; line-height:27px; color:#231f20; padding:0 9px; background:#f5f4f2; }
[class*="bbs_gallery_view"] .txt_area .btn_area { position:relative; }
[class*="bbs_gallery_view"] .txt_area .btn_area [class^="btn"] { width:210px; height:60px; font-size:18px; margin-left:10px; }
[class*="bbs_gallery_view"] .txt_area .btn_area [class^="btn"]:before { content:""; display:inline-block; width:25px; height:30px; vertical-align:middle; margin-right:15px; background:url(/pjtCom/images/common/icon_bbs_btn.png) no-repeat 0 0; }
[class*="bbs_gallery_view"] .txt_area .btn_area [class^="btn"]:first-child { margin-left:0; }
[class*="bbs_gallery_view"] .txt_area .btn_area .btn_download { color:#fff; background:#d4462c; }
[class*="bbs_gallery_view"] .share_area { position:absolute; top:14px ; left:0; }
[class*="bbs_gallery_view"] .share_list li { float:left; margin-left:6px; }
[class*="bbs_gallery_view"] .share_list li:first-child { margin-left:0; }
[class*="bbs_gallery_view"] .share_list li button { display:block; width:30px; height:30px; text-indent:-9999px; background:url(/pjtCom/images/common/icon_sns.png) no-repeat 0 0; }
[class*="bbs_gallery_view"] .share_list li.facebook button { background-position:0 0; }
[class*="bbs_gallery_view"] .share_list li.band button { background-position:-35px 0; }
[class*="bbs_gallery_view"] .share_list li.kakao button { background-position:-70px 0; }
[class*="bbs_gallery_view"] .share_list li.facebook button:hover { background-position:0 -35px; }
[class*="bbs_gallery_view"] .share_list li.band button:hover { background-position:-35px -35px; }
[class*="bbs_gallery_view"] .share_list li.kakao button:hover { background-position:-70px -35px; }


/**
* header
* --------------------------------
*/
/* #header { min-width:1280px; margin-bottom:-71px; } */
#header > .inner { position:fixed; z-index:9; width:100%; min-width:1280px; height:71px; text-align:center; border-bottom:1px solid rgba(218, 218, 218, 0.25); box-sizing:border-box; }
#header > .inner:after { content:""; display:block; clear:both; }
#header .logo { display:inline-block; line-height:70px; vertical-align:top; }
#header .logo:after { content:""; display:inline-block; height:100%; vertical-align:middle; }
#header .logo a { display:inline-block; width:101px; height:37px; vertical-align:middle; text-indent:-9999px; background:url(/pjtCom/images/common/logo.png) no-repeat 0 0; }

#gnb { display:inline-block; margin-left:88px; }
#gnb .gnb_depth1 { float:left; }
#gnb .gnb_depth1 li { float:left; line-height:70px; margin-left:80px; }
#gnb .gnb_depth1 li:first-child { margin-left:0; }
#gnb .gnb_depth1 li a { font-weight:600; font-size:18px; color:#fff; }
#gnb > a { float:left; width:70px; height:70px; font-size:12px; text-align:center; line-height:70px; color:rgba(255, 255, 255, 0.76); }
#gnb .menu_customer { margin-left:70px; }
#gnb .menu_mypage { position:relative; text-indent:-9999px; border-left:1px solid rgba(218, 218, 218, 0.25); }
#gnb .menu_mypage:after { content:""; position:absolute; top:19px; left:21px; width:33px; height:33px; background:url(/pjtCom/images/common/icon_header.png) no-repeat 0 0; }
#gnb .menu_search { position:relative; text-indent:-9999px; border-left:1px solid rgba(218, 218, 218, 0.25); border-right:1px solid rgba(218, 218, 218, 0); background:#ee3124; }
#gnb .menu_search:after { content:""; position:absolute; top:23px; left:22px; width:26px; height:25px; background:url(/pjtCom/images/common/icon_header.png) no-repeat -38px 0; }
#gnb .menu_search.on:after { background-position:-68px -38px; }
#gnb .gnb_depth2 { position:absolute; top:70px; left:0; width:100%; height:0; transition:height 0.3s; background:#fff; overflow:hidden; }
#gnb .gnb_depth2 .inner { width:1280px; height:100%; margin:0 auto; padding:23px 50px 0; box-sizing:border-box; overflow:hidden; }
#gnb .gnb_depth2 ~ .dimd { content:""; display:none; position:fixed; z-index:-1; top:0; left:0; width:100%; height:100%; background:rgba(0, 0, 0, 0.5); }
#gnb .gnb_depth2 ul { float:left; }
#gnb .gnb_depth2 ul:first-child { margin-left:160px; }
#gnb .gnb_depth2 ul li { text-align:left; margin-top:17px; box-sizing:border-box; }
#gnb .gnb_depth2 ul li:first-child { margin-top:0; }
#gnb .gnb_depth2 .brand { width:147px; }
#gnb .gnb_depth2 .brand li { padding-left:40px; }
#gnb .gnb_depth2 .infra { width:133px; }
#gnb .gnb_depth2 .infra li { padding-left:30px; }
#gnb .gnb_depth2 .product { width:145px; }
#gnb .gnb_depth2 .product li { padding-left:31px; }
#gnb .gnb_depth2 .service { width:143px; }
#gnb .gnb_depth2 .service li { padding-left:23px; }
#gnb .gnb_depth2 .pr { width:141px; }
#gnb .gnb_depth2 .pr li { padding-left:43px; }
#gnb .gnb_depth2 a { font-size:15px; color:#231f20; line-height:20px; }
#gnb .gnb_depth1:hover ~ .gnb_depth2,
#gnb .gnb_depth1 ~ .gnb_depth2:hover { transition:height 0.6s; height:315px; }
#gnb .gnb_depth1:hover ~ .gnb_depth2 ~ .dimd,
#gnb .gnb_depth1 ~ .gnb_depth2:hover ~ .dimd { display:block; }

/* scroll */
.scroll #header { min-width:1280px; height:71px; margin-bottom:-71px; }
.scroll #header .logo a { background-position:0 -42px; }
.scroll #header > .inner { border-bottom:1px solid rgba(218, 218, 218, 1); background:#fff; }
.scroll #gnb li a { color:#231f20; }
.scroll #gnb > a { color:#555555; }
.scroll #gnb .menu_mypage { border-left:1px solid rgba(218, 218, 218, 1); background:#fff; }
.scroll #gnb .menu_search { border-left:1px solid rgba(218, 218, 218, 1); border-right:1px solid rgba(218, 218, 218, 1); background:#fff; }
.scroll #gnb .menu_mypage:after { background-position:0 -38px; }
.scroll #gnb .menu_search:after { background-position:-38px -38px; }
.scroll #gnb .menu_search.on:after { background-position:-68px -69px; }
.scroll #gnb .gnb_depth2 { border-top:1px solid rgba(218, 218, 218, 1); }
.scroll #gnb .gnb_depth2 ~ .dimd { top:71px; }


.sub #header { min-width:1280px; height:71px; margin-bottom:-71px; }
.sub #header .logo a { background-position:0 0; }
.sub #header > .inner { position:absolute; background:rgba(0, 0, 0, 0.25); }
.sub #gnb .menu_mypage { border-left:1px solid rgba(218, 218, 218, 0.25); background:none; }
.sub #gnb .menu_search { border-left:1px solid rgba(218, 218, 218, 0.25); border-right:1px solid rgba(218, 218, 218, 0.25); background:none; }
.sub #gnb .gnb_depth2 ~ .dimd { top:71px; }

.member #header { min-width:1280px; height:71px; margin-bottom:-71px; }
.member #header .logo a { background-position:0 -42px; }
.member #header > .inner { border-bottom:1px solid rgba(218, 218, 218, 1); background:#fff; }
.member #gnb li a { color:#231f20; }
.member #gnb > a { color:#555555; }
.member #gnb .menu_mypage { border-left:1px solid rgba(218, 218, 218, 1); background:#fff; }
.member #gnb .menu_search { border-left:1px solid rgba(218, 218, 218, 1); border-right:1px solid rgba(218, 218, 218, 1); background:#fff; }
.member #gnb .menu_mypage:after { background-position:0 -38px; }
.member #gnb .menu_search:after { background-position:-38px -38px; }
.member #gnb .menu_search.on:after { background-position:-68px -69px; }
.member #gnb .gnb_depth2 { border-top:1px solid rgba(218, 218, 218, 1); }
.member #gnb .gnb_depth2 ~ .dimd { top:71px; }


#search { position:absolute; top:70px; left:0; width:100%; height:0; transition:height 0.3s; background:#fff; overflow:hidden; }
#search .inner { width:758px; margin:0 auto; padding:23px 0 38px; }
#search legend { display:none; }
#search .search_write { border-bottom:1px solid #000000; overflow:hidden; }
#search .write_txt { float:left; width:693px; height:65px; font-size:24px; color:#949494; border:none; outline:none; }
#search input::placeholder { color:#949494; }
#search .btn_search { float:left; position:relative; width:65px; height:65px; text-indent:-9999px; background:#fff; }
#search .btn_search:after { content:""; position:absolute; top:15px; left:20px; width:30px; height:31px; background:url(/pjtCom/images/common/icon_header.png) no-repeat -69px 0; }
#search .recommend { margin-top:13px; padding:0 8px;overflow:hidden; }
#search .recommend p { float:left; width:50px; font-weight:600; font-size:15px; text-align:center; line-height:27px; color:#231f20; }
#search .recommend ul { float:left; width:683px; margin:-10px 0 0 -8px; }
#search .recommend li { float:left; margin:10px 0 0 8px; }
#search .recommend li a { display:block; font-size:15px; color:#231f20; padding:5px 8px; border-radius:3px; background:#f5f4f2; }
#search.on { height:200px; border-top:1px solid rgba(218, 218, 218, 1); }
#search.on ~ .dimd { display:block; }


/**
* wrap
* --------------------------------
*/
#wrap { min-width:1280px; min-height:100%; }
/* #contents { padding:0 0 123px 0; } */
#contents > .tit { position:relative; z-index:2; height:247px; font-size:30px; color:#fff; text-align:center; background:#999; overflow:hidden; }
#contents > .tit:after { content:""; display:inline-block; height:100%; vertical-align:middle; }
#contents > .tit img { position:absolute; z-index:-1; top:0; left:50%; transform:translateX(-50%); }
#contents > section { padding-top:98px; box-sizing:border-box; }
#contents > section > .tit { font-size:40px; font-weight:600; line-height:53px; text-align:center; color:#2c1004; }
#contents > section > [class^="txt"] { font-weight:400; font-size:16px; line-height:24px; letter-spacing:-0.04em; text-align:center; color:#807e7f; }
#contents > section > .txt_type1 { font-size:14px; color:#231f20; margin-top:13px; }
#contents > section > .txt_type2 { font-size:16px; color:#807e7f; }
#contents > section > .txt ~ * { font-weight:500; }

#path { height:50px; border-bottom:1px solid #e4e4e4; box-sizing:border-box; background:#fff; }
.scroll #path { position:fixed; z-index:1; top:0; left:0; width:100%; }
#path .inner { position:relative; width:1180px; height:100%; margin:0 auto; }
#path .inner:after { content:""; display:block; clear:both; }
#path .inner > a,
#path .inner > [class^="path"] { display:inline-block; float:left; position:relative; width:229px; height:100%; line-height:49px; color:#807e7f; border-left:1px solid #e2dbd9; box-sizing:border-box; }
#path .inner > .path1 { padding-left:30px; }
#path .inner > [class^="path"]:last-child { border-right:1px solid #e2dbd9; }
#path .home { width:50px !important; text-indent:-9999px; }
#path .home:after { content:""; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); width:20px; height:20px; background:url(/pjtCom/images/common/icon_path.png) no-repeat 0 0; }

#path [class^="path"] { margin-left:-1px; cursor:pointer; }
#path [class^="path"] span { display:block; position:relative; z-index:2; width:100%; height:50px; color:#231f20; padding-left:30px; border-bottom:1px solid #e2dbd9; border-right:1px solid #e2dbd9; background:#fff; box-sizing:border-box; }
#path [class^="path"] span:before { content:""; position:absolute; z-index:1; top:50%; right:15px; transform:translateY(-4px); width:17px; height:9px; background:url(/pjtCom/images/common/icon_path.png) no-repeat -25px 0; }
#path [class^="path"] span:after { content:""; position:absolute; z-index:1; top:0; right:0; width:49px; height:49px; border-left:1px solid #e2dbd9; }
#path [class^="path"]:last-child span { border-right:none; }
#path [class^="path"][class$="_list"] { position:absolute; z-index:1; top:50px; right:1px; transform:translateY(-100%); transition-duration:0.6s; width:100%; padding:16px 0 11px; border:1px solid #e4e4e4; border-top:none; background:#fff; box-sizing:border-box; }
#path [class^="path"][class$="_list"] li { height:36px; line-height:36px; }
#path [class^="path"][class$="_list"] li a { display:block; width:100%; height:100%; color:#231f20; padding:0 30px; box-sizing:border-box; }
#path [class^="path"].on span { z-index:3; background:#c6b7b4; }
#path [class^="path"].on [class^="path"][class$="_list"] { transform:translateY(0); }


/* sub */
.sub #contents { padding:0 0 166px 0; }


/**t
* footer
* --------------------------------
*/
#footer { position:relative; min-width:1280px; height:166px; font-family:'Malgun Gothic', sans-serif; border-top:1px solid #e4e4e4; box-sizing:border-box; background:#fff;}
#footer .inner { position:relative; width:1280px; height:100%; margin:0 auto; padding:36px 50px 45px; box-sizing:border-box; }
#footer .inner:before { content:""; position:absolute; top:40; left:50px; width:89px; height:34px; background:url(/pjtCom/images/common/logo.png) no-repeat 0 -84px; }
#footer .menu { margin:0 0 0 135px; overflow:hidden; }
#footer .menu li { float:left; line-height:31px; }
#footer .menu li:before { content:""; display:inline-block; width:1px; height:15px; vertical-align:middle; margin:0 15px; background:#e8e8e8; }
#footer .menu li:first-child:before { display:none; }
#footer .menu li a { font-size:14px; color:#807e7e; }
#footer .menu:before { content:"";display:inline-block; width:183px; height:31px; margin-left:30px; background:url(/pjtCom/images/common/img_footer_family.jpg) no-repeat 0 0; }
#footer .address { color:#807e7e; margin-left:135px; overflow:hidden; }
#footer .address li { float:left; font-size:12px; line-height:28px; letter-spacing:-0.06em; }
#footer .address li:before { content:""; display:inline-block; width:1px; height:11px; vertical-align:middle; margin:0 8px; background:#ededed; }
#footer .address li:first-child:before { display:none; }
#footer .copyright { display:block; font-size:12px; line-height:20px; letter-spacing:-0.06em; color:#807e7e; margin-left:135px; }

#footer .family { position:absolute; top:76px; right:50px; font-family:'NanumSquare', sans-serif; }
#footer .family:before { content:"서브큐 SERVEQ_OFFICIAL"; position:absolute; top:-40px; left:0; height:40px; line-height:40px; font-size:14px; color:#807e7e; padding-left:37px; background:url(/pjtCom/images/common/icon_footer_family.jpg) no-repeat 0 center; }
#footer .family:after { content:""; position:absolute; top:-40px; left:-227px; width:193px; height:79px; background:url(/pjtCom/images/common/img_footer_qr.jpg) no-repeat 0 center; }
#footer .family p { width:190px; height:36px; font-weight:600; font-size:15px; line-height:36px; padding-left:15px; border:1px solid #bfbfbf; border-radius:3px; background:url(/pjtCom/images/common/icon_footer_family_arrow.png) no-repeat 166px center; box-sizing:border-box; cursor:pointer; }
#footer .family ul { display:none; position:absolute; bottom:35px; left:0; width:100%; border:1px solid #bfbfbf; background:#fff; box-sizing:border-box; overflow:hidden; }
#footer .family li { height:36px; line-height:36px; }
#footer .family li a { display:block; padding-left:15px; }
#footer .family.on ul { display:block; }
#footer .btn_top { position:fixed; z-index:99; bottom:200px; right:57px; display:none; width:40px; height:40px; text-indent:-9999px; background:url(/pjtCom/images/common/btn_top.png) no-repeat 0 0; }
#footer.on .btn_top { display:block; }


/* sub */
.sub #footer { margin-top:-166px; }
