/**
* --------------------------------
* form CSS
* --------------------------------
*/

/* 서식창고 리스트 */
.form .btn_info { height:22px; line-height:22px; margin-top:17px; background:none; }
.form .btn_info:before { content:""; display:inline-block; width:22px; height:22px; vertical-align:top; margin-right:8px; background:url(/pjtCom/images/sub/icon_form.png) no-repeat 0 0; }
.form .month_area { background:#f6f6f6; }
.form .month_area .inner { width:1180px; margin:0 auto; padding:38px 0; }
.form .month_area .result_list { margin-top:34px; }
.form .month_area .result_list:after { content:""; display:block; clear:both; }
.form .month_area .result_list li { float:left; margin-left:20px; }
.form .month_area .result_list li:first-child { margin-left:0; }
.form .month_area .result_list a { display:block; position:relative; width:280px; height:423px; text-align:center; padding:52px 58px 49px;  border:1px solid #e4e4e4; background:#fff; box-sizing:border-box; }
.form .month_area .result_list .name { height:48px; font-size:18px; line-height:24px; color:#231f20; margin-top:32px; }
.form .month_area .result_list .state { position:absolute; z-index:1; top:-6px; right:20px; width:80px; height:40px; font-size:16px; text-align:center; color:#fff; overflow:hidden; }
.form .month_area .result_list .state:before { content:""; position:absolute; z-index:-1; bottom:0; left:0; width:80px; height:80px; border-radius:100%; }
.form .month_area .result_list .state.best:before { background:#ee3023; }
.form .month_area .result_list .state.new:before { background:#fdba13; }
.form .month_area .result_list .state:after { content:""; display:inline-block; height:100%; vertical-align:middle; }
.form .result_area { margin-top:70px; background:#fff; }
.form .month_area + .result_area { margin-top:0; }
.form .result_area .inner { width:1180px; margin:0 auto; padding:34px 0 107px; }
.form .result_area .result { display:block; color:#555; margin-bottom:15px; }
.form .result_area .result_list:after { content:""; display:block; clear:both; }
.form .result_area .result_list li { float:left; margin:20px 0 0 20px; }
.form .result_area .result_list li:nth-child(1),
.form .result_area .result_list li:nth-child(2),
.form .result_area .result_list li:nth-child(3),
.form .result_area .result_list li:nth-child(4) { margin-top:0; }
.form .result_area .result_list li:nth-child(4n+1) { margin-left:0; }
.form .result_area .result_list a { display:block; position:relative; width:280px; height:423px; text-align:center; padding:52px 58px 49px;  border:1px solid #e4e4e4; background:#fff; box-sizing:border-box; }
.form .result_area .result_list .name { height:48px; font-size:18px; line-height:24px; color:#231f20; margin-top:32px; }
.form .result_area .result_list .state { position:absolute; z-index:1; top:-6px; right:20px; width:80px; height:40px; font-size:16px; text-align:center; color:#fff; overflow:hidden; }
.form .result_area .result_list .state:before { content:""; position:absolute; z-index:-1; bottom:0; left:0; width:80px; height:80px; border-radius:100%; }
.form .result_area .result_list .state.best:before { background:#ee3023; }
.form .result_area .result_list .state.new:before { background:#fdba13; }
.form .result_area .result_list .state:after { content:""; display:inline-block; height:100%; vertical-align:middle; }
.form .result_area .paging { margin-top:96px; }


/* 서식창고 상세 */
.form .view_area { position:relative; width:1180px; margin:55px auto 0; padding:77px 0 130px; border-top:1px solid #221e1f; overflow:hidden; }
.form .view_area .info_area { overflow:hidden; }
.form .view_area .info_area .img { float:left; width:521px; height:521px; margin-left:2px; border-radius:100%; overflow:hidden; }
.form .view_area .txt_area { float:left; width:454px; margin-left:145px; padding:23px 0 0; }
.form .view_area .txt_area .sort { display:inline-block; height:27px; font-size:16px; text-align:center; line-height:27px; padding:0 17px; border:1px solid #bbb; }
.form .view_area .txt_area .tit { height:125px; font-weight:400; font-size:44px; color:#231f20; margin:32px 0 0; }
.form .view_area .txt_area .txt { height:77px; font-size:16px; color:#555; }
.form .view_area .txt_area .hash_list { height:150px; margin:-10px 0 0 -8px; overflow:hidden; }
.form .view_area .txt_area .hash_list li { float:left; margin:10px 0 0 8px; }
.form .view_area .txt_area .hash_list li a { display:inline-block; height:27px; font-size:16px; line-height:27px; color:#231f20; padding:0 9px; background:#f5f4f2; }
.form .view_area .txt_area .btn_area [class^="btn"] { width:210px; height:60px; font-size:18px; margin-left:10px; }
.form .view_area .txt_area .btn_area [class^="btn"]:first-child { margin-left:0; }
.form .view_area .txt_area .btn_area .btn_calculator { color:#fff; background:#d3472d; }
.form .view_area .txt_area .btn_area .btn_counsel { color:#231f20; background:#e5e5e5; }
.form .view_area .share_list { position:absolute; top:14px ; left:0; }
.form .view_area .share_list li { float:left; margin-left:6px; }
.form .view_area .share_list li:first-child { margin-left:0; }
.form .view_area .share_list li button { display:block; width:30px; height:30px; text-indent:-9999px; background:url(/pjtCom/images/common/icon_sns.png) no-repeat 0 0; }
.form .view_area .share_list li.facebook button { background-position:0 0; }
.form .view_area .share_list li.blog button { background-position:-35px 0; }
.form .view_area .share_list li.kakao button { background-position:-70px 0; }
.form .view_area .function_area { position:absolute; top:14px ; right:14px; }
.form .view_area .function_area [class^="btn"] { position:relative; width:34px; height:auto; font-size:13px; text-align:center; color:#231f20; margin-left:24px; }
.form .view_area .function_area [class^="btn"]:before { content:""; display:block; height:33px; margin:0 auto 7px; background:url(/pjtCom/images/sub/icon_form_function.png) no-repeat 0 0; }
.form .view_area .function_area [class^="btn"]:first-child { margin-left:0; }
.form .view_area .function_area .btn_print:before { width:34px; background-position:0 0; }
.form .view_area .function_area .btn_scrap:before { width:25px; background-position:-39px 0; }
.form .view_area .tab_menu { text-align:center; margin:65px 0 43px; }
.form .view_area .tab_menu a { display:inline-block; position:relative; height:50px; font-size:24px; line-height:50px; color:#555555; padding:0 10px; }
.form .view_area .tab_menu a.on { font-weight:600; color:#231f20; }
.form .view_area .tab_menu a.on:after { content:""; position:absolute; bottom:0; left:0; width:100%; height:4px; background:#d0442b; }
.form .view_area .ingredient table { font-family:'Malgun Gothic', sans-serif; }
.form .view_area .ingredient table th { height:39px; font-weight:normal; text-align:left; color:#81674a; padding-left:70px; background:#f5f4f2; }
.form .view_area .ingredient table th:first-child { text-align:center; padding-left:0; }
.form .view_area .ingredient table td { height:40px; color:#231f20; padding-left:70px; border-bottom:1px solid #ece9e6; }
.form .view_area .ingredient table td[rowspan] { text-align:center; padding-left:0; }
.form .view_area .make { width:660px; margin:0 auto; font-family:'Malgun Gothic', sans-serif; margin-top:18px; }
.form .view_area .make section { margin-top:34px; }
.form .view_area .make section:first-child { margin-top:0; }
.form .view_area .make h4 { font-size:20px; line-height:50px; color:#ce462e; }
.form .view_area .make ol { counter-reset:number; }
.form .view_area .make li { line-height:41px; }
.form .view_area .make li:before { content:counter(number)')'; counter-increment:number; margin-right:8px; }
.form .view_area .make .caution { font-size:16px; color:#231f20; }
.form .view_area .make .caution:before { content:"*"; font-size:16px; line-height:41px; color:#231f20; }
.form .view_area .use_area { margin-top:120px; }
.form .view_area .use_area .tit { font-size:30px; text-align:center; color:#231f20; }
.form .view_area .use_area .product_area { position:relative; height:364px; margin-top:37px; padding:48px 114px 58px 115px; border:1px solid #ece9e6; box-sizing:border-box; }
.form .view_area .use_area .product_area .inner { overflow:hidden; }
.form .view_area .use_area .product_list { position:relative; left:0; height:100%; overflow:hidden; word-break:break-all; word-wrap: break-word;}
.form .view_area .use_area li { float:left;  width:184px; margin-left:71px; }
.form .view_area .use_area li:first-child { margin-left:0; }
.form .view_area .use_area [class^="btn"] { position:absolute; top:155px; width:51px; height:51px; text-indent:-9999px; background:#999; }
.form .view_area .use_area [class^="btn"]:after { content:""; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); width:14px; height:25px; background:url(/pjtCom/images/sub/btn_form_product.png) no-repeat 0 0;  }
.form .view_area .use_area .img { display:inline-block; }
.form .view_area .use_area .name { display:block; height:52px; font-size:18px; line-height:26px; text-align:center; margin-top:20px; }
.form .view_area .use_area .btn_prev { left:0; }
.form .view_area .use_area .btn_next { right:0; }
.form .view_area .use_area .btn_next:after { transform:rotate(180deg); transform-origin:25% 25%; }
.form .view_area .recommend_area { margin-top:120px; }
.form .view_area .recommend_area .tit { font-size:30px; text-align:center; color:#231f20; }
.form .view_area .recommend_area .recommend_list { margin-top:40px; overflow:hidden; }
.form .view_area .recommend_area li { float:left; margin:20px 0 0 20px; }
.form .view_area .recommend_area li:nth-child(1),
.form .view_area .recommend_area li:nth-child(2),
.form .view_area .recommend_area li:nth-child(3),
.form .view_area .recommend_area li:nth-child(4) { margin-top:0; }
.form .view_area .recommend_area li:nth-child(4n+1) { margin-left:0; }
.form .view_area .recommend_area a { display:block; position:relative; width:280px; height:423px; text-align:center; padding:73px 40px 0;  border:1px solid #e4e4e4; background:#fff; box-sizing:border-box; }
.form .view_area .recommend_area a:before { content:""; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); width:260px; height:400px; border:1px solid #e4e4e4; box-sizing:border-box; }
.form .view_area .recommend_area .sort { font-size:14px; line-height:27px; color:#e19d3b; margin-top:36px; }
.form .view_area .recommend_area .name { height:48px; font-size:18px; line-height:24px; color:#231f20; }
.form .view_area .btn_list { display:block; width:113px; height:39px; color:#fff; margin:88px auto 0; background:#555; }
