/**
* --------------------------------
* form CSS
* --------------------------------
*/

/* 서식창고 리스트 */
.form .month_area { background:#f6f6f6; }
.form .month_area .result_list { margin-top:34px; }
.form .name .month_area .result_list .img { width:208px; height:208px; }
.form .result_area { background:#fff; }
.form .result_list a { padding:52px 19px 0; }
.form .result_list .img { width:auto; height:240px; }
.form .name .result_list .img { width:208px; height:auto; }



/* 서식창고 상세 */
.form .view_area { padding:83px 0 130px; }
.form .view_area .info_area .img { width:450px; height:670px; margin-left:74px; overflow:hidden; }
.form .view_area .txt_area { padding:25px 0 0; }
.form .view_area .txt_area .sort { font-size:22px; line-height:27px; }
.form .view_area .txt_area .btn_area .btn_download { color:#fff; background:#d4462c; }
.form .view_area .txt_area .btn_area .btn_download:before { background-position:-58px 0; }
.form .view_area .edit_area { margin-top:70px; padding:0 74px; }
.form .view_area .btn_list { display:block; width:113px; height:39px; color:#fff; margin:88px auto 0; background:#555; }

.form .poster .info_area { position:relative; padding:0 40px; }
.form .poster .info_area .tit { height:54px; font-weight:normal; font-size:30px; line-height:53px; color:#000; padding-left:35px; border-bottom:1px solid #a6a6a6; box-sizing:border-box; }
.form .poster .info_area dl { height:80px; font-size:16px; line-height:80px; color:#555; border-bottom:1px solid #e5e5e5; overflow:hidden; }
.form .poster .info_area dt { float:left; position:relative; width:125px; text-align:center; margin-left:65px; }
.form .poster .info_area dt.state { margin-left:0; }
.form .poster .info_area dt:before { content:""; position:absolute; top:50%; left:-65px; transform:translateY(-50%);width:1px; height:18px; vertical-align:middle; background:#bfbfbf; }
.form .poster .info_area dt.state:before { display:none; }
.form .poster .info_area dd { float:left; padding-left:15px; box-sizing:border-box; }
.form .poster .info_area dd.state { width:155px; }
.form .poster .info_area .btn_apply { position:absolute; bottom:16px; right:77px; width:209px; height:49px; color:#fff; background:#d4462c; }
