@charset "utf-8";

/* mypage common */
#wrap.mypage { background:#f6f6f6; }

/* login */
.mypage #contents.login { padding:180px 0 166px; }
.mypage #contents.login section { width:618px; padding:77px 0 95px; margin:0 auto 109px; background:#fff; }
.mypage .login .section_inner { width:345px; margin:0 auto; }
.mypage .login .section_inner h1 { font-size:48px; font-weight:600; color:#231f20; }
.mypage .login .section_inner > p { margin:12px 0 46px; color:#807e7f; }
.mypage .login .log_id,
.mypage .login .log_pw { position:relative; display:block; }
.mypage .login .log_pw { margin-top:18px; }
.mypage .login .log_id input,
.mypage .login .log_pw input { width:100%; padding-left:50px; }
.mypage .login .log_id input:focus,
.mypage .login .log_pw input:focus { padding-left:49px; }
.mypage .login .log_id:before,
.mypage .login .log_pw:before { content:""; position:absolute; left:15px; top:50%; transform:translate(0, -50%); display:block; width:18px; height:20px; box-sizing:border-box; background:url('/pjtCom/images/common/form_icon.png') no-repeat 0 0; }
.mypage .login .log_pw:before { background-position:-28px 0; }
.mypage .login .logbox { margin-top:25px; text-align:right; font-size:0; }
.mypage .login .logbox a { display:inline-block; vertical-align:middle; font-size:16px; letter-spacing:-0.04em; }
.mypage .login .logbox span { display:inline-block; vertical-align:middle; font-size:16px; letter-spacing:-0.04em; }
.mypage .login .logbox label {margin-left:0;}
.mypage .login .logbox .bar { width:1px; height:16px; margin:0 12px; background:#e4e4e4; }
.mypage .login .btnbox { margin-top:38px; }
.mypage .login .btnbox .btn_org { display:block; }
.mypage .login .btnbox .btn_naver { display:block; margin-top:18px; color:#231f20; border:1px solid #ebebeb; }
.mypage .login .btnbox .btn_org:before,
.mypage .login .btnbox .btn_naver:before { content:""; position:absolute; left:21px; top:50%; transform:translate(0, -50%); display:inline-block; width:32px; height:32px; background:url('/pjtCom/images/common/btn.png') no-repeat 0 0; }
.mypage .login .btnbox .btn_naver:before { background-position:-42px 0; }
.mypage .login .txt { display:block; margin-top:25px; text-align:center; }
.mypage .login .error_txt { display:none; margin-top:8px; padding-left:51px; font-size:13px; color:#ce462d; box-sizing:border-box; }
.mypage .login .error1 .log_id input:focus,
.mypage .login .error2 .log_pw input:focus,
.mypage .login .error3 .log_pw input:focus { border-bottom:2px solid #ce462d; }
.mypage .login .error1 .error_id,
.mypage .login .error2 .error_pw,
.mypage .login .error3 .error_idpw {display:block;}

/* search_id */
.mypage #contents.searchid { padding:180px 0 166px; }
.mypage #contents.searchid section { width:662px; padding:77px 0 95px; margin:0 auto 94px; background:#fff; }
.mypage .searchid .section_inner { width:390px; margin:0 auto; }
.mypage .searchid .section_inner > p { margin:12px 0 46px; color:#807e7f; }
.mypage .searchid .section_inner .log_name { position:relative; }
.mypage .searchid .section_inner .log_name:before { content:""; position:absolute; left:15px; top:50%; transform:translate(0, -50%); display:block; width:18px; height:20px; box-sizing:border-box; background:url('/pjtCom/images/common/form_icon.png') no-repeat 0 0; }
.mypage .searchid .section_inner .log_name input { width:100%; padding-left:50px; }
.mypage .searchid .section_inner .log_name input:focus { padding-left:49px; }
.mypage .searchid .section_inner .telbox { margin-top:18px; }
.mypage .searchid .section_inner .telbox:after { content:""; display:block; clear:both; }
.mypage .searchid .section_inner .telbox .tel { position:relative; float:left; width:124px; padding:8px 0 8px 50px; line-height:32px; box-sizing:border-box; }
.mypage .searchid .section_inner .telbox .tel:before { content:""; position:absolute; left:15px; top:50%; transform:translate(0, -50%); display:block; width:18px; height:18px; background:url('/pjtCom/images/common/form_icon.png') no-repeat -56px 0; }
.mypage .searchid .section_inner .telbox .bar { position:relative; float:left; display:block; width:28px; height:48px; box-sizing:border-box;}
.mypage .searchid .section_inner .telbox .bar:before { content:""; position:absolute; left:50%; top:50%; transform:translate(-50%, 0); display:block; width:8px; height:1px; background:#949494;}
.mypage .searchid .section_inner .telbox label { float:left; width:70px; }
.mypage .searchid .section_inner .telbox label input { width:100%; text-align:center; }
.mypage .searchid .section_inner .btnbox { margin-top:44px; }
.mypage .searchid .section_inner .btnbox .btn_org { width:100%; }

/* search_idresult */
.mypage #contents.searchid_result { padding:180px 0 166px; }
.mypage #contents.searchid_result section { width:662px; padding:77px 0 95px; margin:0 auto 94px; background:#fff; }
.mypage .searchid_result .section_inner { width:390px; margin:0 auto; }
.mypage .searchid_result .section_inner > p { margin:12px 0 46px; color:#807e7f; }
.mypage .searchid_result .section_inner .id_result { padding:37px 10px; border:1px solid #dadada; box-sizing:border-box; text-align:center; font-size:16px; }
.mypage .searchid_result .section_inner .id_result span { display:block; margin-bottom:30px; color:#231f20; }
.mypage .searchid_result .section_inner .id_result b { font-weight:600; color:#231f20; }

.mypage .searchid_result .section_inner .btnbox { margin-top:31px; }
.mypage .searchid_result .section_inner .btnbox:after { content:""; display:block; clear:both; }
.mypage .searchid_result .section_inner .btnbox .btn_org { float:left; width:190px; }
.mypage .searchid_result .section_inner .btnbox .btn_line { float:right; width:190px; border:1px solid #231f20; color:#231f20; }
