/**
* --------------------------------
* magazine CSS
* --------------------------------
*/

/* 서식창고 리스트 */
.magazine .month_area { background:#f6f6f6; }
.magazine .month_area .result_list { margin-top:34px; }
.magazine .name .month_area .result_list .img { width:208px; height:208px; }
.magazine .result_area { background:#fff; }
.magazine .result_list .img img { width:100%; }
.magazine .btn_more { display:block; width:209px; height:60px; font-size:18px; color:#fff; margin:0 auto; background:#545454; }



/* 서식창고 상세 */
.magazine .view_area { padding:83px 0 130px; }
.magazine .view_area .info_area .img { width:450px; height:670px; margin-left:74px; overflow:hidden; }
.magazine .view_area .txt_area { padding:25px 0 0; }
.magazine .view_area .txt_area .sort { font-size:22px; line-height:27px; }
.magazine .view_area .txt_area .btn_area .btn_download { color:#fff; background:#d4462c; }
.magazine .view_area .txt_area .btn_area .btn_download:before { background-position:-58px 0; }
.magazine .view_area .edit_area { margin-top:70px; padding:0 74px; }
.magazine .view_area .btn_list { display:block; width:113px; height:39px; color:#fff; margin:88px auto 0; background:#555; }

.magazine .info_area { position:relative; padding:0 40px; }
.magazine .info_area .tit { height:54px; font-weight:normal; font-size:30px; line-height:53px; color:#000; padding-left:35px; border-bottom:1px solid #a6a6a6; box-sizing:border-box; }
.magazine .info_area dl { height:80px; font-size:16px; line-height:80px; color:#555; overflow:hidden; }
.magazine .info_area dt { float:left; position:relative; width:125px; text-align:center; }
.magazine .info_area dd { float:left; font-size:12px; color:#807e7e; padding-left:15px; box-sizing:border-box; }

.magazine .view_area .function_area { position:absolute; top:14px ; right:40px; }
.magazine .view_area .function_area [class^="btn"] { position:relative; width:34px; height:auto; font-size:13px; text-align:center; color:#231f20; margin-left:24px; }
.magazine .view_area .function_area [class^="btn"]:before { content:""; display:block; height:35px; margin:0 auto 7px; background:url(/pjtCom/images/sub/icon_recipe_function.png) no-repeat 0 0; }
.magazine .view_area .function_area [class^="btn"]:first-child { margin-left:0; }
.magazine .view_area .function_area .btn_print:before { width:33px; background-position:0 0; }
.magazine .view_area .function_area .btn_scrap:before { width:29px; background-position:-38px 0; }
