/**
* --------------------------------
* recipe CSS
* --------------------------------
*/

.recipe .search_area { width:1280px; margin:5px auto 0; padding:0 50px; overflow:hidden; box-sizing:border-box; }
.recipe .search_area .inner { float:right; position:relative; width:342px; }
.recipe .search_area input {  }
.recipe .search_area .btn_search { position:absolute; top:0; right:0; width:45px; height:100%; text-indent:-9999px; background:none; }
.recipe .search_area .btn_search:after { content:""; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); width:25px; height:25px; background:url(/pjtCom/images/common/form_icon.png) no-repeat 0 -118px; }
.recipe .menu_area { width:835px; text-align:center; margin:50px auto 30px; overflow:hidden; }
.recipe .menu_area li { display:inline-block; position:relative; line-height:36px; }
.recipe .menu_area li:before { content:""; display:inline-block; width:1px; height:15px; vertical-align:middle; margin:-2px 32px 0; background:#e4e4e4 }
.recipe .menu_area li:first-child:before { display:none; }
.recipe .menu_area li:nth-child(2):before { background:none; }
.recipe .menu_area a { font-size:20px; color:#231f20; }
.recipe .menu_area .now { font-weight:600; }
.recipe .result_area { background:#f6f6f6; }
.recipe .result_area .inner { width:1180px; margin:0 auto; padding:34px 0 107px; }
.recipe .result_area .result { display:block; color:#555; margin-bottom:15px; }
.recipe .result_area .result_list { overflow:hidden; }
.recipe .result_area .result_list li { float:left; margin:20px 0 0 20px; }
.recipe .result_area .result_list li:nth-child(1),
.recipe .result_area .result_list li:nth-child(2),
.recipe .result_area .result_list li:nth-child(3),
.recipe .result_area .result_list li:nth-child(4) { margin-top:0; }
.recipe .result_area .result_list li:nth-child(4n+1) { margin-left:0; }
.recipe .result_area .result_list a { display:block; position:relative; width:280px; height:423px; text-align:center; padding:73px 40px 0;  border:1px solid #e4e4e4; background:#fff; box-sizing:border-box; }
.recipe .result_area .result_list a:before { content:""; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); width:260px; height:400px; border:1px solid #e4e4e4; box-sizing:border-box; }
.recipe .result_area .result_list .sort { font-size:14px; line-height:27px; color:#e19d3b; margin-top:36px; }
.recipe .result_area .result_list .name { height:48px; font-size:18px; line-height:24px; color:#231f20; }
.recipe .result_area .paging { margin-top:96px; }
.recipe .no_data { text-align:center; margin:10px 0 85px; }
.recipe .no_data .txt1 { font-size:20px; margin-bottom:30px; }
.recipe .no_data .txt2 { font-weight:bold; font-size:22px; margin:15px 0 50px; }
.recipe .no_data .txt3 { font-size:16px; line-height:24px; color:#000; }
.recipe .no_data .txt3:before { content:"-"; display:inline-block; }
